<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<?python import locale ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
  <title>TurboAffiliate &bull; Asambleas</title>
</head>
<body>
  <form action="${tg.url('agregar')}">
    <fieldset>
      <legend>Registrar Banco</legend>
      <ol>
        <li>
          <label for="nombre">Nombre:</label>
          <input name="nombre" />
        </li>
        <li>
          <label for="id">C&oacute;digo:</label>
          <input name="id" />
        </li>
        <li><input type="submit" value="Agregar" /></li>
      </ol>
    </fieldset>
  </form>
  <form action="${tg.url('/asamblea/banco')}">
    <fieldset>
      <legend>Mostrar un Banco</legend>
      <ol>
        <li>
          <label>Asamblea:</label>
          <select name="banco">
            <option value="${b.id}" py:for="b in bancos">
              ${b.id} - ${b.nombre}
            </option>
          </select>
        </li>
        <li><input type="submit" value="Mostrar" /></li>
      </ol>
    </fieldset>
  </form>
</body>
</html>
