<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../master.html" />
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
    <title>TurboAffiliate &bull; ${affiliate.id} - ${affiliate.firstName} ${affiliate.lastName}</title>
    <script src="${tg.url('/static/javascript/afiliado.js')}" type="text/javascript"></script>
    <script type="text/javascript" py:if="affiliate.id in (2515, 3387, 4298, 4371,4980,
    6395, 7109,7165,8926,9933,
    10584,12266,12700,13524,
    15395,16367,16387,16963,16085,
    21661,22382,21448)">
      $(document).ready(function(e) {
        var text = $('<div />');
        text.html('Enviar Afiliado a Sistema, Corroboración Asamblea 2011');
        text.dialog({
          modal : true
        });
      });
    </script>
    <script type="text/javascript">JSON.jubilados("${tg.url('/json')}");</script>
  </head>
  <body>
    <div id="contenedor">
      <div id="contenido">
        <h1 class="afiliado">${affiliate.id} - ${affiliate.firstName} ${affiliate.lastName}</h1>
        <div class="ui-widget" py:if="not affiliate.active">
          <div class="ui-state-error ui-corner-all advertencia" style="padding: 0.5em;">
            <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
            Afiliado desactivado por <strong>${affiliate.reason}</strong>
            <span py:if="not affiliate.muerte == None and affiliate.reason == u'Fallecimiento'"> Fecha de Fallecimiento: ${affiliate.muerte.strftime('%d de %B de %Y')}</span>
            <span py:if="not affiliate.desactivacion == None"> Fecha de Desactivaci&oacute;n: ${affiliate.desactivacion.strftime('%d de %B de %Y')}</span>
          </div>
        </div>
        <div class="ui-helper-clearfix">&nbsp;</div>
        <h3>ID: ${affiliate.cardID} <span class="cotizacion ui-state-hover ui-widget-content ui-corner-all">${affiliate.cotizacion.nombre}</span><span class="pago" py:if="affiliate.cotizacion.id != 1">N&uacute;mero de Cobro: ${affiliate.escalafon}</span></h3>
        <ul class="toolbox ui-widget ui-widget-header ui-corner-all noprint flotante-izquierdo">
          <li>
            <a class="button" href="${tg.url('/affiliate/cuota/{0}'.format(affiliate.id))}">Aportaciones</a>
          </li>
          <li>
            <a class="button" href="${tg.url('/reintegro/{0}'.format(affiliate.id))}">Reintegros</a>
          </li>
          <li>
            <a class="button" href="${tg.url('/affiliate/deduced/{0}'.format(affiliate.id))}">Deducciones</a>
          </li>
          <li>
            <strong class="enfasis">Afiliado desde <span py:if="not affiliate.joined is None">${affiliate.joined.strftime('%d de %B de %Y')}</span></strong>
          </li>
          <li py:if="affiliate.cotizacion.nombre == 'INPREMA' and affiliate.jubilated != None">
            <strong class="enfasis">Jubilado desde ${affiliate.jubilated.strftime('%d de %B de %Y')}</strong>
          </li>
        </ul>
        <div class="ui-widget" py:if="affiliate.payment == 'INPREMA' and affiliate.jubilated == None">
          <div class="ui-state-error ui-corner-all advertencia" style="padding: 0.5em;">
            <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
            <strong>Este afiliado requiere actualizar sus datos de jubilaci&oacute;n</strong>
          </div>
        </div>
        <div class="ui-widget" py:if="affiliate.cardID == None">
          <div class="ui-state-error ui-corner-all advertencia" style="padding: 0.5em;">
            <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
            <strong>Este afiliado no tiene tarjeta de identidad ingresada</strong>
          </div>
        </div>
        <div class="ui-widget" py:if="affiliate.departamento.id == 19">
          <div class="ui-state-error ui-corner-all advertencia" style="padding: 0.5em;">
            <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
            <strong>Este afiliado no tiene Departamento</strong>
          </div>
        </div>
        <div class="ui-widget" py:if="affiliate.municipio.id == 299">
          <div class="ui-state-error ui-corner-all advertencia" style="padding: 0.5em;">
            <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
            <strong>Este afiliado no tiene Ciudad</strong>
          </div>
        </div>
        <div class="ui-widget" py:if="affiliate.birthday == None">
          <div class="ui-state-error ui-corner-all advertencia" style="padding: 0.5em;">
            <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
            <strong>Este afiliado no tiene Fecha de nacimiento</strong>
          </div>
        </div>
        <div class="ui-helper-clearfix">&nbsp;</div>
        <div id="informacion" class="flotante-izquierdo ui-corner-all">
          <table class="ui-widget-content ui-corner-all striped" py:if="affiliate.active">
            <caption>
              Cobros a Efectuar
            </caption>
            <thead>
              <th>Concepto</th>
              <th>Retrasada</th>
              <th>Mes</th>
              <th>A&ntilde;o</th>
              <th>Cantidad</th>
              <th class="noprint">Acciones</th>
            </thead>
            <tbody>
              <tr>
                <td>Aportaci&oacute;n Ordinaria</td>
                <td>No</td>
                <td></td>
                <td></td>
                <td>${locale.currency(affiliate.get_cuota(), True, True)}</td>
                <td class="noprint">
                <button class="noprint button inline" onclick="javascript:$('#pagarAportaciones').dialog('open');">
                  Pagar
                </button></td>
              </tr>
              <tr py:for="loan in affiliate.loans">
                <td>Cuota de Pr&eacute;stamo</td>
                <td>No</td>
                <td></td>
                <td></td>
                <td>${locale.currency(loan.get_payment(), True, True)}</td>
                <td class="noprint">&nbsp;</td>
              </tr>
              <tr py:for="extra in affiliate.extras">
                <td>${extra.account.name}</td>
                <td py:if="extra.retrasada">S&iacute;</td>
                <td py:if="not extra.retrasada">No</td>
                <td>${extra.mes}</td>
                <td>${extra.anio}</td>
                <td>${locale.currency(extra.amount, True, True)}</td>
                <td><a class="noprint button inline" href="${tg.url('/affiliate/extra/delete/{0}'.format(extra.id))}">Borrar</a></td>
              </tr>
              <tr py:for="reintegro in affiliate.reintegros" py:if="not reintegro.pagado">
                <td>Reintegro</td>
                <td>No</td>
                <td>${reintegro.motivo}</td>
                <td>${reintegro.emision.strftime('%d/%m/%Y')}</td>
                <td>${locale.currency(reintegro.monto, True, True)}</td>
                <td class="noprint"><a class="button inline" href="${tg.url('/reintegro/eliminar/{0}'.format(reintegro.id))}">Borrar</a></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4">Total de Deducciones</td>
                <td>${locale.currency(affiliate.get_monthly(), True, True)}</td>
                <td>&nbsp;</td>
              </tr>
            </tfoot>
          </table>
          <table class="ui-widget-content ui-corner-all striped" py:if="len(affiliate.loans) != 0">
            <caption>
              Pr&eacute;stamos Personales
            </caption>
            <thead>
              <tr>
                <th>Solicitud</th>
                <th>Monto</th>
                <th>Deuda</th>
                <th>Cuota</th>
                <th>Otorgado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr py:for="loan in affiliate.loans">
                <td><a href="${tg.url('/loan/{0}'.format(loan.id))}" >${loan.id}</a></td>
                <td>${locale.currency(loan.capital, True, True)}</td>
                <td>${locale.currency(loan.debt, True, True)}</td>
                <td>${locale.currency(loan.payment, True, True)}</td>
                <td>${loan.startDate.strftime('%d/%b/%Y')}</td>
                <td>
                <button class="button inline ui-button ui-state-default ui-corner-all" onclick="javascript:pagarPrestamo(${loan.id}, ${loan.get_payment()})">
                  Pagar
                </button></td>
              </tr>
            </tbody>
          </table>
          <table class="ui-widget-content ui-corner-all striped" py:if="len(affiliate.solicitudes) != 0">
            <caption>
              Solicitudes de Pr&eacute;stamo
            </caption>
            <thead>
              <tr>
                <th>Monto</th>
                <th>Periodo</th>
                <th>Recibido</th>
                <th>Entrega</th>
                <th>Liquidar</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr py:for="solicitud in affiliate.solicitudes">
                <td>${locale.currency(solicitud.monto, True, True)}</td>
                <td>${solicitud.periodo}</td>
                <td>${solicitud.ingreso.strftime('%d de %B de %Y')}</td>
                <td>${solicitud.entrega.strftime('%d de %B de %Y')}</td>
                <td><a href="${tg.url('/solicitud/convertir/{0}'.format(solicitud.id))}">Liquidar</a></td>
                <td><a href="${tg.url('/solicitud/eliminar/{0}'.format(solicitud.id))}">Eliminar</a></td>
              </tr>
            </tbody>
          </table>
          <table class="ui-widget-content ui-corner-all striped" py:if="len(affiliate.payedLoans) != 0">
            <caption>
              Historial de Pr&eacute;stamos Cancelados
            </caption>
            <thead>
              <tr>
                <th>Solicitud</th>
                <th>Monto</th>
                <th>Cuota</th>
                <th>Otorgado</th>
              </tr>
            </thead>
            <tbody>
              <tr py:for="loan in affiliate.payedLoans">
                <td><a href="${tg.url('/payed/{0}'.format(loan.id))}">${loan.id}</a></td>
                <td>${locale.currency(loan.capital, True, True)}</td>
                <td>${locale.currency(loan.payment, True, True)}</td>
                <td>${loan.startDate.strftime('%d de %B de %Y')}</td>
              </tr>
            </tbody>
          </table>
          <table class="ui-widget-content ui-corner-all striped" py:if="len(affiliate.observaciones) != 0">
            <caption>
              Observaciones
            </caption>
            <thead>
              <tr>
                <th>Descripci&oacute;n</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr py:for="observacion in affiliate.observaciones">
                <td>${observacion.texto}</td>
                <td py:if="observacion.fecha != None">${observacion.fecha.strftime('%d/%m/%Y')}</td>
              </tr>
            </tbody>
          </table>
          <table class="ui-widget-content ui-corner-all striped" py:if="len(affiliate.inscripciones) != 0">
            <caption>
              Asistencia a Asambleas
            </caption>
            <thead>
              <tr>
                <th>Asamblea</th>
                <th>Municipio</th>
                <th>Monto</th>
                <th>Enviado</th>
              </tr>
            </thead>
            <tbody>
              <tr py:for="inscripcion in affiliate.inscripciones">
                <td>${inscripcion.asamblea.nombre}</td>
                <td>${inscripcion.viatico.municipio.nombre}</td>
                <td>${inscripcion.viatico.monto}</td>
                <td py:if="inscripcion.enviado">S&iacute;</td>
                <td py:if="not inscripcion.enviado">No</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="personal" class="ui-widget-content ui-corner-all flotante-izquierdo">
          <h3 class="ui-widget-header ui-corner-all no-margin ui-helper-clearfix">Informaci&oacute;n Personal</h3>
          <ul>
            <li><strong>Lugar de Nacimiento: </strong> ${affiliate.birthPlace}</li>
            <li><strong>Fecha de Nacimiento: </strong><span py:if="not affiliate.birthday is None">${affiliate.birthday.strftime('%d de %B de %Y')}</span></li>
            <li>
              <strong>Sexo:</strong>
              <span py:if="affiliate.gender == 'M'">Masculino</span>
              <span py:if="affiliate.gender == 'F'">Femenino</span>
            </li>
            <li><strong>Tel&eacute;fono: </strong>${affiliate.phone}</li>
            <li><strong>Instituto: </strong>${affiliate.school}</li>
            <li><strong>Municipio: </strong>${affiliate.municipio.nombre}</li>
            <li><strong>Departamento: </strong>${affiliate.departamento.nombre}</li>
            <li><strong>Banco: </strong>${afiliado.banco}</li>
            <li><strong>Cuenta: </strong>${afiliado.cuenta}</li>
          </ul>
        </div>
        <div id="egresos" class="flotante-izquierdo ui-corner-all">
          <table class="ui-widget-content ui-corner-all striped">
            <caption>
              Cheques Extendidos
            </caption>
            <thead>
              <tr>
                <th>Concepto</th>
                <th>Fecha</th>
                <th>Cheque</th>
                <th>Banco</th>
                <th>Detalle</th>
                <th>Monto</th>
              </tr>
            </thead>
            <tbody>
              <tr py:for="s in affiliate.sobrevivencias">
                <td>Beneficio de Sobrevivencia</td>
                <td>${s.fecha.strftime('%d/%m/%Y')}</td>
                <td>${s.cheque}</td>
                <td>${s.banco}</td>
                <td>&nbsp;</td>
                <td>${locale.currency(s.monto, True, True)}</td>
              </tr>
              <tr py:for="s in affiliate.devoluciones">
                <td>Devoluci&oacute;n</td>
                <td>${s.fecha.strftime('%d/%m/%Y')}</td>
                <td>${s.cheque}</td>
                <td>${s.banco}</td>
                <td>${s.concepto}</td>
                <td>${locale.currency(s.monto, True, True)}</td>
              </tr>
              <tr py:for="s in affiliate.funebres">
                <td>Ayuda Funebre</td>
                <td>${s.fecha.strftime('%d/%m/%Y')}</td>
                <td>${s.cheque}</td>
                <td>${s.banco}</td>
                <td>${s.pariente}</td>
                <td>${locale.currency(s.monto, True, True)}</td>
              </tr>
              <tr py:for="s in affiliate.seguros">
                <td>Seguro de Vida</td>
                <td>${s.fecha.strftime('%d/%m/%Y')}</td>
                <td>${s.fallecimiento.strftime('%d/%m/%Y')}</td>
                <td>&nbsp;</td>
                <td>${s.indemnizacion.nombre}</td>
                <td>${locale.currency(s.monto(), True, True)}</td>
              </tr>
            </tbody>
          </table>
          <table class="ui-widget-content ui-corner-all striped" py:if="len(affiliate.depositos) != 0">
            <caption>
              Dep&oacute;sitos Efectuados
            </caption>
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Banco</th>
                <th>Monto</th>
                <th>Concepto</th>
                <th>Descripci&oacute;n</th>
                <th class="noprint">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr py:for="deposito in affiliate.depositos">
                <td>${deposito.fecha.strftime('%d/%m/%Y')}</td>
                <td>${deposito.banco.nombre}</td>
                <td>${locale.currency(deposito.monto, True, True)}</td>
                <td>${deposito.concepto}</td>
                <td>${deposito.descripcion}</td>
                <td><a href="${tg.url('/deposito/eliminar/{0}'.format(deposito.id))}">Eliminar</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <form class="verDeducciones" action="${tg.url('/affiliate/deduced/mostrar')}" method="get">
          <div>
            <ul>
              <input type="hidden" value="${affiliate.id}" name="afiliado" />
              <li>
                <label>Mes:</label>
                <input name="mes" />
              </li>
              <li>
                <label>A&ntilde;o:</label>
                <input name="anio" />
              </li>
            </ul>
          </div>
        </form>
        <form id="deduccionAnual" action="${tg.url('/affiliate/deduced/anual')}" method="get">
          <div>
            <ul>
              <input type="hidden" value="${affiliate.id}" name="afiliado" />
              <li>
                <label>A&ntilde;o:</label>
                <input name="anio" />
              </li>
            </ul>
          </div>
        </form>
        <form class="agregarSolicitud" action="${tg.url('/solicitud/agregar')}">
          <div>
            <ol>
              <li>
                <input name="affiliate" value="${affiliate.id}" type="hidden" />
                <label>Monto</label>
                <input name="monto" />
              </li>
              <li>
                <label>Periodo</label>
                <input name="periodo" />
              </li>
              <li>
                <label>Entrega</label>
                <input name="entrega" class="datepicker" />
              </li>
              <li>
                <label>Ingreso</label>
                <input name="ingreso" class="datepicker" />
              </li>
            </ol>
          </div>
        </form>
        <form class="agregarObservacion" action="${tg.url('/affiliate/observacion/add')}">
          <div>
            <ol>
              <li>
                <input name="affiliate" value="${affiliate.id}" type="hidden" />
                <label>Observaci&oacute;n</label>
                <textarea name="texto" cols="18"></textarea>
              </li>
            </ol>
          </div>
        </form>
        <form class="desactivar" action="${tg.url('/affiliate/deactivate')}" method="post">
          <div>
            <input value="${affiliate.id}" name="affiliate" type="hidden" />
            <ul>
              <li>
                <label>Raz&oacute;n</label>
                <select name="reason">
                  <option>Retiro</option>
                  <option>Fallecimiento</option>
                  <option>Renuncia</option>
                  <option>No es Afiliado</option>
                  <option>Suspendido</option>
                </select>
              </li>
              <li>
                <label for="birthday">Fecha de Desactivaci&oacute;n</label>
                <input name="day" class="datepicker" />
              </li>
            </ul>
          </div>
        </form>
        <form class="editar" action="${tg.url('/affiliate/save')}" method="post">
          <div>
            <input type="hidden" value="${affiliate.id}" name="affiliate" />
            <ul>
              <li>
                <label for="firstName">Nombre:</label>
                <input name="firstName" value="${affiliate.firstName}" />
              </li>
              <li>
                <label for="lastName">Apellido:</label>
                <input name="lastName" value="${affiliate.lastName}" />
              </li>
              <li>
                <label for="birthPlace">Lugar de Nacimiento:</label>
                <input name= "birthPlace" value="${affiliate.birthPlace}" />
              </li>
              <li>
                <label for="phone">Tel&eacute;fono:</label>
                <input name="phone" value="${affiliate.phone}"/>
              </li>
              <li>
                <label>Identidad:</label>
                <input name="cardID" value="${affiliate.cardID}" maxlength="15"/>
              </li>
              <li>
                <label for="birthday">Fecha de Nacimiento</label>
                <input name="birthday" py:if="affiliate.birthday != None" value="${affiliate.birthday.strftime('%d/%m/%Y')}" class="datepicker" />
                <input name="birthday" py:if="affiliate.birthday == None" class="datepicker" />
              </li>
              <li>
                <label for="cotizacion">Cotiza por:</label>
                <select name="cotizacion" class="cotizaciones">
                  <option selected="selected" value="${affiliate.cotizacion.id}">${affiliate.cotizacion.nombre}</option>
                </select>
              </li>
              <li>
                <label for="escalafon">Escalaf&oacute;n:</label>
                <input name="escalafon" value="${affiliate.escalafon}" />
              </li>
              <li>
                <label for="school">Instituto:</label>
                <input name="school" value="${affiliate.school}" />
              </li>
              <li>
                <label for="departamento">Departamento:</label>
                <select class="departamento" name="departamento" id="editarDepartamento" onchange="JSON.municipioE('${tg.url('/json')}', $('#editarDepartamento' + ' option:selected').val(), '#editarMunicipios')">
                  <option selected="selected" value="${affiliate.departamento.id}">${affiliate.departamento.nombre}</option>
                </select>
              </li>
              <li>
                <label for="municipio">Municipio:</label>
                <select name="municipio" class="municipio" id="editarMunicipios">
                  <option selected="selected" value="${affiliate.municipio.id}">${affiliate.municipio.nombre}</option>
                </select>
              </li>
            </ul>
          </div>
        </form>
        <form class="extra" action="${tg.url('/affiliate/extra/save')}" method="post">
          <div>
            <input type="hidden" name="affiliate" value="${affiliate.id}" />
            <ul>
              <li>
                <label for="amount">Cantidad:</label>
                <input name="amount" />
              </li>
              <li>
                <label for="account">Cuenta:</label>
                <select name="account">
                  <option py:for="account in accounts" value="${account.id}">${account.name}</option>
                </select>
              </li>
              <li>
                <label for="months">Meses</label>
                <input name="months" />
              </li>
              <li>
                <label>Es Retrasada</label>
                <input name="retrasada" type="checkbox" />
              </li>
            </ul>
          </div>
        </form>
        <form class="jubilar" action="${tg.url('/affiliate/jubilar')}" method="post">
          <div>
            <ul>
              <li>
                <label for="jubilated">Fecha de Jubilaci&oacute;n</label>
                <input py:if="affiliate.jubilated != None" name="jubilated" value="${affiliate.jubilated.strftime('%d/%m/%Y')}" class="datepicker" />
                <input py:if="affiliate.jubilated == None" name="jubilated" class="datepicker" />
                <input type="hidden" value="${affiliate.id}" name="affiliate" />
              </li>
              <li>
                <label for="cotizacion">Cotizaci&oacute;n</label>
                <select name="cotizacion" class="jubilados"></select>
              </li>
              <li>
                <label for="cobro">N&uacute;mero de Cobro:</label>
                <input name="cobro" value="${affiliate.escalafon}" />
              </li>
            </ul>
          </div>
        </form>
        <form class="muerte" action="${tg.url('/affiliate/fallecimiento')}" method="post">
          <div>
            <input value="${affiliate.id}" name="affiliate" type="hidden" />
            <ul>
              <li>
                <label>Fecha:</label>
                <input py:if="affiliate.muerte != None" name="muerte" value="${affiliate.muerte.strftime('%d/%m/%Y')}" class="datepicker" />
                <input py:if="affiliate.muerte == None" name="muerte" class="datepicker" />
              </li>
            </ul>
          </div>
        </form>
        <form id="Prestamo" action="${tg.url('/loan/new')}" method="post">
          <div>
            <input value="${affiliate.id}" name="affiliate" type="hidden" />
            <ul>
              <li>
                <label for="id">Solicitud:</label>
                <input name="id" />
              </li>
              <li>
                <label for="capital">Monto:</label>
                <input name="capital" id="capital" />
              </li>
              <li>
                <label for="months">Meses:</label>
                <input name="months" id="tiempo" />
              </li>
              <li>
                <label for="interest">Interes:</label>
                <input name="interest" id="interes" />
              </li>
              <li>
                <label for="startDate">Fecha de Inicio:</label>
                <input name="startDate" id="startDate" class="datepicker" />
              </li>
              <li>
                <label for="payment">Cuota:</label>
                <input name="payment" id="payment" />
                <a href="#" id="paymentCalc" class="button">calcular</a>
              </li>
              <li>
                <input type="submit" value="Agregar Pr&eacute;stamo" />
              </li>
            </ul>
          </div>
        </form>
        <form class="pagar" id="pagoPrestamo" action="${tg.url('/loan/pay/agregar')}" method="post">
          <div>
            <input type="hidden" name="loan" id="loan" />
            <input type="hidden" name="redir" value="${'/affiliate/{0}'.format(affiliate.id)}" />
            <ul>
              <li>
                <label for="amount">Monto:</label>
                <input name="amount" id="amount" />
              </li>
              <li>
                <label for="day">Fecha:</label>
                <input name="day" />
              </li>
              <li>
                <label for="receipt">Recibo:</label>
                <input name="receipt" />
              </li>
              <li>
                <label for="description">Descripci&oacute;</label>
                <input name="description" />
              </li>
              <li>
                <label for="free">Libre de Intereses:</label>
                <input name="free" type="checkbox" />
              </li>
              <li>
                <label for="deposito">Dep&oacute;sito Bancario:</label>
                <input name="deposito" type="checkbox" />
              </li>
            </ul>
          </div>
        </form>
        <form id="pagarAportaciones" action="${tg.url('/affiliate/cuota/pagarVarias')}" method="post">
          <div>
            <input type="hidden" name="afiliado" value="${affiliate.id}" />
            <input type="hidden" name="redir" value="${'/affiliate/{0}'.format(affiliate.id)}" />
            <ul>
              <li>
                <label for="meses">Mes:</label>
                <input name="meses" />
              </li>
              <li>
                <label for="anio">A&ntilde;o:</label>
                <input name="anio" />
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
    <div id="lateral" class="noprint">
      <button class="ui-button button-size ui-state-default ui-corner-all" onclick="javascript:$('#Prestamo').dialog('open');">
        Agregar Pr&eacute;stamo
      </button>
      <button class="ui-button button-size ui-state-default ui-corner-all" onclick="javascript:$('.editar').dialog('open');">
        Editar
      </button>
      <button class="ui-button button-size ui-state-default ui-corner-all" onclick="javascript:$('#pagarAportaciones').dialog('open');">
        Pagar Aportaciones
      </button>
      <!--<button py:if="'admin' in tg.identity.groups" class="ui-button button-size ui-state-default ui-corner-all" href="${tg.url('/affiliate/remove/{0}'.format(affiliate.id))}">
        Borrar
      </button>-->
      <button class="ui-button button-size ui-state-default ui-corner-all" onclick="javascript:$('.extra').dialog('open');">
        Agregar Deducci&oacute;n
      </button>
      <button class="ui-button button-size ui-state-default ui-corner-all" onclick="javascript:$('.jubilar').dialog('open');">
        Jubilar
      </button>
      <button class="ui-button button-size ui-state-default ui-corner-all" py:if="affiliate.active" onclick="javascript:$('.desactivar').dialog('open');">
        Desactivar
      </button>
      <a class="ui-button button-size ui-state-default ui-corner-all" py:if="not affiliate.active" href="${tg.url('/affiliate/activate/{0}'.format(affiliate.id))}">Activar</a>
      <button class="ui-button button-size ui-state-default ui-corner-all" onclick="javascript:$('.agregarSolicitud').dialog('open');">
        Agregar Solicitud
      </button>
      <button class="ui-button button-size ui-state-default ui-corner-all" onclick="javascript:$('.verDeducciones').dialog('open');">
        Mostrar Deducciones
      </button>
      <button class="ui-button button-size ui-state-default ui-corner-all" onclick="javascript:$('#deduccionAnual').dialog('open');">
        Mostrar Deducciones Anuales
      </button>
      <button class="ui-button button-size ui-state-default ui-corner-all" onclick="javascript:$('.agregarObservacion').dialog('open');">
        Observaci&oacute;n
      </button>
      <button class="ui-button button-size ui-state-default ui-corner-all" onclick="javascript:$('.muerte').dialog('open');">
        Reportar Fallecimiento
      </button>
    </div>
  </body>
</html>
