<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''" />
  <title>Pr&eacute;stamos &bull; Recibo</title>
  <link rel="stylesheet" type="text/css" href="${tg.url('/static/css/status.css')}" media="screen" />
  <link rel="stylesheet" type="text/css" href="${tg.url('/static/css/billing.css')}" />
  <style type="text/css" media="print">
    body
    {
      font-size: 1em;
    }
  </style>
</head>
<body>
  <div class="page" style="margin: 0 10%; padding-top: 30%">
    <p align="right">Tegucigalpa M. D. C., ${day.strftime('%d de %B de %Y')}</p>
    <h1 style="text-align: center;">Autorizaci&oacute;n</h1>
    <p>Yo, ${affiliate.firstName} ${affiliate.lastName}, con
    n&uacute;mero de identidad ${affiliate.cardID}, por este medio,
    autorizo al Colegio de Profesores de Educación Media de Honduras (COPEMH)
    y a Banco ${affiliate.get_banco().nombre}
    a efectuar la deducci&oacute;n mis obligaciones econ&oacute;micas con la
    organizaci&oacute;n directamente mi cuenta de banco, cuya información
    detallo a continuaci&oacute;n:</p>
    <ul>
      <li><strong>Banco:</strong> ${affiliate.get_banco().nombre}</li>
      <li><strong>C&oacute;digo ACH</strong> ${affiliate.banco}</li>
      <li><strong>Cuenta:</strong> ${affiliate.cuenta}</li>
      <li><strong>Tel&eacute;fono:</strong> ${affiliate.phone}</li>
      <li><strong>Correo Electr&oacute;nico:</strong> ${affiliate.email}</li>
    </ul>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h2 align="center">${affiliate.firstName} ${affiliate.lastName}</h2>
  </div>
</body>
</html>
