<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
  <title>TurboAffiliate &bull; Afiliados</title>
  <script src="${tg.url('/static/javascript/afiliado.js')}" type="text/javascript"></script>
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <section class="page-header">
            <h1>Mantenimiento de Afiliados</h1>
        </section>
    </div>
</div>
<div class="row">
    <section class="col-md-9">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#busquedas" role="tab" data-toggle="tab">B&uacute;squedas</a></li>
            <li><a href="#listados"  role="tab" data-toggle="tab">Listados</a></li>
            <li><a href="#posteos"  role="tab" data-toggle="tab">Posteos</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="busquedas">
                <div class="row">
                    <div class="col-md-12">
                        <section class="page-header">
                            <h2>B&uacute;squedas</h2>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <form class="form-horizontal" role="form" action="${tg.url('/affiliate/carnet')}">
                            <fieldset>
                                <legend>Buscar Afiliado</legend>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Carnet:</label>
                                    <div class="controls col-md-7">
                                        <input class="form-control" name="carnet" />
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <input class="btn btn-primary" type="submit" value="Buscar" />
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <form class="form-horizontal" action="${tg.url('/affiliate/search')}">
                            <fieldset>
                                <legend>Buscar Afiliado por Nombre</legend>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Nombre o Apellidos:</label>
                                    <div class="controls col-md-7">
                                        <input class="form-control" name="name" />
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <input class="btn btn-primary" type="submit" value="Buscar" />
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <form class="form-horizontal" role="form" action="${tg.url('/affiliate/card')}">
                            <fieldset>
                                <legend>Buscar Afiliado por Identidad</legend>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Identidad:</label>
                                    <div class="controls col-md-7">
                                        <input class="form-control" name="cardID" />
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <input class="btn btn-primary" type="submit" value="Buscar" />
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <form class="form-horizontal" role="form" action="${tg.url('autorizar')}">
                            <fieldset>
                                <legend>Ingresar Autorizaci&oacute;n de Afiliado</legend>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Afiliaci&oacute;n:</label>
                                    <div class="controls col-md-7">
                                        <input class="form-control" name="affiliate" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Banco:</label>
                                    <div class="controls col-md-7">
                                        <select name="banco" class="form-control select">
                                            <option py:for="b in bancos" value="${b.id}">${b.nombre}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Cuenta:</label>
                                    <div class="controls col-md-7">
                                        <input class="form-control" name="cuenta" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Otros:</label>
                                    <div class="controls col-md-7">
                                        <input class="form-control" name="bancario" />
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <input class="btn btn-primary" type="submit" value="Buscar" />
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <form class="form-horizontal" role="form" action="${tg.url('autorizarIdentidad')}">
                            <fieldset>
                                <legend>Ingresar Autorizaci&oacute;n de Afiliado</legend>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Identidad:</label>
                                    <div class="controls col-md-7">
                                        <input class="form-control" name="cardID" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Banco:</label>
                                    <div class="controls col-md-7">
                                        <select name="banco" class="form-control select">
                                            <option py:for="b in bancos" value="${b.id}">${b.nombre}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Cuenta:</label>
                                    <div class="controls col-md-7">
                                        <input class="form-control" name="cuenta" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Otros:</label>
                                    <div class="controls col-md-7">
                                        <input class="form-control" name="bancario" />
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <input class="btn btn-primary" type="submit" value="Buscar" />
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="listados">
                <div class="row">
                    <div class="col-md-12">
                    <section class="page-header">
                        <h2>Listados</h2>
                    </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <form class="form-horizontal" role="form" action="${tg.url('departamento')}">
                            <fieldset>
                                <legend>Buscar Afiliado por Identidad</legend>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Departamento:</label>
                                    <div class="controls col-md-7">
                                        <select name="departamento" class="departamento select form-control" />
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <input class="btn btn-primary" type="submit" value="Buscar" />
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <form class="form-horizontal" role="form" action="${tg.url('bySchool')}">
                            <fieldset>
                                <legend>Mostrar por Instituto</legend>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Departamento:</label>
                                    <div class="controls col-md-7">
                                        <select name="departamento" class="departamento select form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Instituto:</label>
                                    <div class="controls col-md-7">
                                        <input name="school" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <input class="btn btn-primary" type="submit" value="Buscar" />
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <form class="form-horizontal" role="form" action="${tg.url('stateSchool')}">
                            <fieldset>
                                <legend>Mostrar por Instituto</legend>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Departamento:</label>
                                    <div class="controls col-md-7">
                                        <select name="departamento" class="departamento select form-control" />
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <input class="btn btn-primary" type="submit" value="Buscar" />
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <form class="form-horizontal" role="form" action="${tg.url('cotizacion')}">
                            <fieldset>
                                <legend>Buscar Afiliado por Identidad</legend>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Cotizaci&oacute;n:</label>
                                    <div class="controls col-md-7">
                                        <select name="cotizacion" class="cotizaciones select form-control" />
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <input class="btn btn-primary" type="submit" value="Buscar" />
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <form class="form-horizontal" role="form" action="${tg.url('byDate')}">
                            <fieldset>
                                <legend>Mostrar seg&uacute;n fecha de afiliaci&oacute;n</legend>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Inicio:</label>
                                    <div class="controls col-md-7">
                                        <input name="start" class="datepicker form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Fin:</label>
                                    <div class="controls col-md-7">
                                        <input name="end" class="datepicker form-control" />
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <input class="btn btn-primary" type="submit" value="Buscar" />
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <form class="form-horizontal" role="form" action="${tg.url('solvent')}">
                            <fieldset>
                                <legend>Afiliados Solventes por A&ntilde;o</legend>
                                <div class="form-group">
                                    <label class="control-label col-md-4">A&ntilde;o:</label>
                                    <div class="controls col-md-7">
                                        <input name="year" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <input class="btn btn-primary" type="submit" value="Buscar" />
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <form class="form-horizontal" action="${tg.url('/affiliate/autorizaciones')}">
                            <fieldset>
                                <legend>Mostrar Autorizaciones Por Fecha y Banco</legend>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Banco:</label>
                                    <div class="controls col-md-7">
                                        <select name="banco" class="form-control select">
                                            <option py:for="b in bancos" value="${b.id}">${b.nombre}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Inicio:</label>
                                    <div class="controls col-md-7">
                                        <input name="inicio" class="form-control datepicker"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Fin:</label>
                                    <div class="controls col-md-7">
                                        <input name="fin" class="form-control datepicker"/>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <input class="btn btn-primary" type="submit" value="Buscar" />
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="posteos">
                <div class="row">
                    <div class="col-md-12">
                        <section class="page-header">
                            <h2>Listados</h2>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <form class="form-horizontal" role="form" action="${tg.url('planilla')}">
                            <fieldset>
                                <legend>Pago Manual de Planillas</legend>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Cotizaci&oacute;n:</label>
                                    <div class="controls col-md-7">
                                        <select name="cotizacion" class="cotizaciones select form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">A&ntilde;o:</label>
                                    <div class="controls col-md-7">
                                        <input name="day" class="form-control datepicker" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Aportaciones:</label>
                                    <div class="controls col-md-7">
                                        <select name="aportaciones" class="form-control select">
                                            <option py:for="cuenta in cuentas" value="${cuenta.id}">${cuenta.name}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Devoluciones:</label>
                                    <div class="controls col-md-7">
                                        <select name="excedente" class="form-control select">
                                            <option py:for="cuenta in cuentas" value="${cuenta.id}">${cuenta.name}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-4">Prestamos:</label>
                                    <div class="controls col-md-7">
                                        <select name="prestamos" class="form-control select">
                                            <option py:for="cuenta in cuentas" value="${cuenta.id}">${cuenta.name}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <input class="btn btn-primary" type="submit" value="Mostrar" />
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <aside class="col-md-3 noprint">
        <ul class="nav nav-stacked">
            <li>
                <a href="${tg.url('last')}">Ver el Ultimo Afiliado</a>
            </li>
            <li>
                <a href="${tg.url('extra')}">A&ntilde;adir Deducciones Extra a Varios Afiliados</a>
            </li>
            <li>
                <a href="${tg.url('disabled')}">Ver Afiliados Inactivos</a>
            </li>
            <li>
                <a href="${tg.url('all')}">Ver Todos los Afiliados</a>
            </li>
            <li>
                <a href="${tg.url('solventYear')}">Ver Solventes por A&ntilde;o</a>
            </li>
            <li>
                <a href="${tg.url('none')}">Ver Afiliados sin a&ntilde;o de Afiliaci&oacute;n</a>
            </li>
            <li>
                <a href="${tg.url('noCard')}">Ver Afiliados sin n&uacute;mero de Identidad</a>
            </li>
        </ul>
    </aside>
</div>
</body>
</html>
