<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<?python import locale ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
	<title>TurboAffiliate &bull; Planilla de ${cotizacion}</title>
</head>
<body>
  <h1>Planilla de ${cotizacion}</h1>
  <table class="full-size striped ui-corner-all ui-widget-content">
    <caption>Lista de Afiliados</caption>
    <thead>
      <tr>
        <th>Afiliaci&oacute;n</th>
        <th>Nombre</th>
        <th>Acciones</th>
        <th>Total Deducci&oacute;n</th>
      </tr>
    </thead>
    <tbody>
      <tr py:for="afiliado in afiliados">
        <td><a href="${tg.url('/affiliate/{0}'.format(afiliado.id))}">${afiliado.id}</a></td>
        <td>${afiliado.lastName} ${afiliado.firstName}</td>
        <td>
          <form class="ui-widget-content reducido ui-corner-all" action="${tg.url('/affiliate/cuota/pagoPlanilla')}">
            <fieldset>
              <legend>Aportaciones ${locale.currency(afiliado.get_cuota(), True, True)}</legend>
              <input name="afiliado" value="${afiliado.id}" type="hidden" />
              <input name="day" value="${day.strftime('%d/%m/%Y')}" type="hidden" />
              <input name="cuenta" value="${aportaciones}" type="hidden" />
              <input type="submit" value="Pagar" />
            </fieldset>
          </form>
          <form class="ui-widget-content reducido ui-corner-all" py:for="loan in afiliado.loans" action="${tg.url('/loan/pay/agregarPlanilla')}">
            <fieldset>
              <legend>Pr&eacute;stamo ${loan.id}</legend>
              <input name="loan" value="${loan.id}" type="hidden" />
              <input name="day" value="${day.strftime('%d/%m/%Y')}" type="hidden" />
              <input name="cuenta" value="${prestamos}" type="hidden" />
              <li>
                <label>Pago: </label>
                <input name="amount" value="${loan.get_payment()}" />
               </li>
               <li>
              </li>
              <li><input type="submit" value="pagar" /></li>
            </fieldset>
          </form>
          <form class="ui-widget-content reducido ui-corner-all" py:for="extra in afiliado.extras" action="${tg.url('/affiliate/')}">
            <fieldset>
              <legend>${extra.account.name}</legend>
              <strong>Cantidad: ${locale.currency(extra.amount)}</strong>
              <input type="hidden" name="extra" value="${extra.id}" />
              <input name="day" value="${day.strftime('%d/%m/%Y')}" type="hidden" />
              <input type="submit" value="Pagar" />
            </fieldset>
          </form>
        </td>
        <td>${locale.currency(afiliado.get_monthly(), True, True)}</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
