<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
  <title>TurboAffiliate &bull; Planilla de ${cotizacion.nombre}</title>
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>${cotizacion.nombre} <small>Planilla</small></h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 table-responsive">
        <table class="table table-striped">
            <caption>Lista de Afiliados</caption>
            <thead>
            <tr>
                <th>Afiliaci&oacute;n</th>
                <th>Nombre</th>
                <th>Acciones</th>
                <th>Total Deducci&oacute;n</th>
            </tr>
            </thead>
            <tbody>
            <tr py:for="afiliado in afiliados">
                <td><a class="btn btn-success   " href="${tg.url('/affiliate/{0}'.format(afiliado.id))}">${afiliado.id}</a></td>
                <td py:if="cotizacion.ordering =='lastName'">${afiliado.lastName} ${afiliado.firstName}</td>
                <td py:if="cotizacion.ordering =='firstName'">${afiliado.firstName} ${afiliado.lastName}</td>
                <td>
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal postear" action="${tg.url('/affiliate/cuota/pagoPlanilla')}">
                                <fieldset>
                                    <legend>Aportaciones ${locale.currency(afiliado.get_cuota(day), True, True)}</legend>
                                    <input name="afiliado" value="${afiliado.id}" type="hidden" />
                                    <input name="day" value="${day.strftime('%d/%m/%Y')}" type="hidden" />
                                    <input name="cuenta" value="${aportaciones}" type="hidden" />
                                    <div class="form-actions">
                                        <input class="btn btn-primary" type="submit" value="Pagar" />
                                    </div>
                                </fieldset>
                            </form>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal postear" py:for="loan in afiliado.loans" action="${tg.url('/loan/pay/agregarPlanilla')}">
                                <fieldset>
                                    <legend>Pr&eacute;stamo ${loan.id}</legend>
                                    <input name="loan" value="${loan.id}" type="hidden" />
                                    <input name="day" value="${day.strftime('%d/%m/%Y')}" type="hidden" />
                                    <input name="cuenta" value="${prestamos}" type="hidden" />
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Pago:</label>
                                        <div class="controls col-md-7">
                                            <input name="amount" value="${loan.get_payment()}" />
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <input class="btn btn-primary" type="submit" value="Pagar Pr&eacute;stamo" />
                                    </div>
                                </fieldset>
                                <hr />
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal postear" py:for="extra in afiliado.extras" action="${tg.url('/affiliate/extra/pagarPlanilla')}">
                                <fieldset>
                                    <legend>${extra.account.name}</legend>
                                    <strong>Cantidad: ${locale.currency(extra.amount)}</strong>
                                    <input type="hidden" name="extra" value="${extra.id}" />
                                    <input name="day" value="${day.strftime('%d/%m/%Y')}" type="hidden" />
                                    <div class="form-actions">
                                        <input class="btn btn-primary" type="submit" value="Pagar ${extra.account.name}" />
                                    </div>
                                </fieldset>
                                <hr />
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal postear" action="${tg.url('/affiliate/deduced/save')}">
                                <fieldset>
                                    <legend>Devoluci&oacute;n</legend>
                                    <input name="affiliate" value="${afiliado.id}" type="hidden" />
                                    <input name="month" value="${day.month}" type="hidden" />
                                    <input name="year" value="${day.year}" type="hidden" />
                                    <input name="account" value="${excedente}" type="hidden" />
                                    <input name="cotizacion" value="${afiliado.cotizacion.id}" type="hidden" />
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Pago:</label>
                                        <div class="controls col-md-7">
                                            <input name="amount" />
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <input class="btn btn-primary" type="submit" value="Pagar Devoluci&oacute;n" />
                                    </div>
                                    <hr />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </td>
                <td>${locale.currency(afiliado.get_monthly(day), True, True)}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="${tg.url('/static/javascript/jquery.validate.js')}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(e)
    {
        $.each($(".postear"), function(i, form)
        {
            $(form).validate(
                    {
                        debug : false,
                        submitHandler : function(form)
                        {
                            $.post($(form).attr('action'), $(form).serialize(), function(data)
                            {
                                alert("Se efectuó el pago de " + data.pago);
                            });
                        }
                    }
            );
        });
    });
</script>
</body>
</html>
