<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<?python import locale ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
  <title>TurboAffiliate &bull; Pr&eacute;stamos</title>
</head>
<body>
  <h1>Estad&iacute;sticas de Pr&eacute;stamos</h1>
  <table class="striped full-size ui-corner-all ui-widget-content">
    <caption>Pr&eacute;stamos Otorgados el d&iacute;a ${day.strftime('%d de %B de %Y')}</caption>
    <thead>
      <tr>
        <th>Carnet</th>
        <th>Nombre</th>
        <th>Cotizaci&oacute;n</th>
        <th>Periodo</th>
        <th>Capital</th>
        <th>Liquidado</th>
        <th>Cuota</th>
      </tr>
    </thead>
    <tbody>
      <tr py:for="loan in loans">
        <td><a href="${tg.url('/affiliate/%s' % loan.affiliate.id)}">${loan.affiliate.id}</a></td>
        <td>${loan.affiliate.firstName} ${loan.affiliate.lastName}</td>
        <td>${loan.affiliate.payment}</td>
        <td>${loan.months} meses</td>
        <td>${locale.currency(loan.capital, True, True)}</td>
        <td>${locale.currency(loan.net(), True, True)}</td>
        <td>${locale.currency(loan.payment, True, True)}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="3">Totales</th>
        <th>${loans.count()} Pr&eacute;stamos</th>
        <th>${locale.currency(sum(l.capital for l in loans), True, True)}</th>
        <th>${locale.currency(sum(l.net() for l in loans), True, True)}</th>
        <th>${locale.currency(sum(l.payment for l in loans), True, True)}</th>
      </tr>
    </tfoot>
  </table>
</body>
</html>

