<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<?python import locale ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
  <title>TurboAffiliate &bull; Pr&acute;stamos</title>
  <link rel="stylesheet" type="text/css" href="${tg.url('/static/css/status.css')}" media="screen" />
</head>
<body>
    <h1>Reporte de Deducciones de Pr&eacute;stamos</h1>
    <table class="striped full-size ui-corner-all ui-widget-content">
      <caption>Del ${start.strftime('%d de %B de %Y')} al ${end.strftime('%d de %B de %Y')}</caption>
      <thead>
          <tr>
            <th>Pr&eacute;stamo</th>
            <th>Nombre</th>
            <th>Monto</th>
            <th>Intereses</th>
            <th>Papeleo</th>
            <th>Aportaciones</th>
            <th>Prestamo</th>
            <th>Neto</th>
          </tr>
        </thead>
        <tbody>
          <tr py:for="loan in loans">
            <td>${loan.id}</td>
            <td>
              <a href="${tg.url('/affiliate/%s' % loan.afiliado.id)}">${loan.afiliado.id}</a>
              ${loan.afiliado.firstName} ${loan.afiliado.lastName}
            </td>
            <td>${locale.currency(loan.monto, True, True)}</td>
            <td>${locale.currency(loan.intereses, True, True)}</td>
            <td>${locale.currency(loan.papeleo, True, True)}</td>
            <td>${locale.currency(loan.aportaciones, True, True)}</td>
            <td>${locale.currency(loan.retencion, True, True)}</td>
            <td>${locale.currency(loan.neto, True, True)}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="2">Total:</th>
            <th>${locale.currency(monto, True, True)}</th>
            <th>${locale.currency(intereses, True, True)}</th>
            <th>${locale.currency(papeleo, True, True)}</th>
            <th>${locale.currency(aportaciones, True, True)}</th>>
            <th>${locale.currency(retencion, True, True)}</th>
            <th>${locale.currency(neto, True, True)}</th>
          </tr>
        </tfoot>
    </table>
</body>
</html>
