<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<?python import locale ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
  <title>TurboAffiliate &bull; Divergencia en Pr&eacute;stamos</title>
  <link rel="stylesheet" type="text/css" href="${tg.url('/static/css/status.css')}" />
</head>
<body>
  <table class="striped full-size ui-widget-content">
      <thead>
        <tr>
          <th>Pr&eacute;stamo</th>
          <th>COPEMH</th>
          <th>Afiliado</th>
          <th>Cuota Pr&eacute;stamo Anterior</th>
          <th>Cuota Pr&eacute;stamo Nuevo</th>
          <th>Otorgado Anterior</th>
          <th>Otorgado Nuevo</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="p in payed">
          <td><a class="print" href="${tg.url('/payed/%s' % p.id)}" py:content="p.id"  /></td>
          <td><a class="print" href="${tg.url('/affiliate/%s' % p.affiliate.id)}" py:content="p.affiliate.id" /></td>
          <td>${p.affiliate.firstName}${p.affiliate.lastName}</td>
          <td>${locale.currency(p.payment, True, True)}</td>
          <td>${locale.currency(p.affiliate.loans[0].get_payment(), True, True)}</td>
          <td>${p.startDate}</td>
          <td>${p.affiliate.loans[0].startDate}</td>
        </tr>
      </tbody>
  </table>
</body>
</html>
