<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<?python import locale ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
  <title>TurboAffiliate &bull; Pr&eacute;stamo ${loan.id} &bull; ${loan.affiliate.id} - ${loan.affiliate.firstName} ${loan.affiliate.lastName}</title>
  <script src="${tg.url('/static/javascript/prestamo.js')}" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="${tg.url('/static/css/status.css')}" />
</head>
<body>
  <div id="contenedor">
    <div id="contenido">
      <div class="noprint">&nbsp;</div>
      <div class="centrado" id="titulo-prestamo">
        <h1>COPEMH</h1>
        <h1>Estado de Cuenta Pr&eacute;stamos</h1>
        <div>Pr&eacute;stamo N&uacute;mero ${loan.id}</div>
        <span>Al: ${day.strftime('%d de %B de %Y')}</span>
      </div>
      <h3 class="centrado">Capital Prestado: ${locale.currency(loan.capital, True, True)}</h3>
      <h4 class="flotante-izquierdo"> Prestatario:
          <a class="print" href="${tg.url('/affiliate/{0}'.format(loan.affiliate.id))}">${loan.affiliate.id}</a>
          ${loan.affiliate.firstName} ${loan.affiliate.lastName}
      </h4>
      <h4 class="flotante-derecho">Otorgado: ${loan.startDate.strftime('%d de %B de %Y')} ${loan.casa.nombre}</h4>
      <table class="ui-widget-content ui-corner-all striped full-size">
        <caption>Deducciones</caption>
        <thead>
          <tr>
            <th>Concepto</th>
            <th>Monto</th>
            <th class="noprint" py:if="tg.identity.user.has_permission('delete')">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr py:for="d in loan.deductions">
            <td>${d.account.name}</td>
            <td>${locale.currency(d.amount, True, True)}</td>
            <td class="noprint" py:if="'delete' in tg.identity.permissions">
              <a class="" href="${tg.url('/loan/deduction/remove/{0}'.format(d.id))}">Borrar</a>
            </td>
          </tr>
          <tr>
            <td>Total deducciones</td>
            <td><strong>${locale.currency(sum(d.amount for d in loan.deductions), True, True)}</strong></td>
            <td py:if="'delete' in tg.identity.permissions" class="noprint">&nbsp;</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Remanente o Monto Liquidado</th>
            <th>${locale.currency(loan.capital - sum(d.amount for d in loan.deductions), True, True)}</th>
            <td py:if="'delete' in tg.identity.permissions" class="noprint">&nbsp;</td>
          </tr>
        </tfoot>
      </table>
      <table class="ui-widget-content ui-corner-all striped full-size pay">
        <caption>Pagos a Efectuar</caption>
        <thead>
          <tr>
            <th colspan="5">Abono</th>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th>Mes</th>
            <th>Pago N&ordm;</th>
            <th>Intereses</th>
            <th>Cuota</th>
            <th>Capital</th>
            <th>Saldo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Saldo Actual:</strong></td>
            <td colspan="4">&nbsp;</td>
            <td class="deuda"><strong>${locale.currency(loan.debt, True, True)}</strong></td>
          </tr>
          <tr py:for="pay in loan.future()">
            <td>Saldo al &Uacute;ltimo de ${pay['month']}</td>
            <td>${pay['number']}</td>
            <td>${locale.currency(pay['interest'], True, True)}</td>
            <td>${locale.currency(pay['payment'], True, True)}</td>
            <td>${locale.currency(pay['capital'], True, True)}</td>
            <td class="deuda">${locale.currency(pay['amount'], True, True)}</td>
          </tr>
        </tbody>
      </table>
      <table class="ui-widget-content ui-corner-all striped full-size" py:if="len(loan.pays) != 0">
        <caption>Pagos Efectuados</caption>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>N&uacute;mero</th>
            <th>Intereses</th>
            <th>Capital</th>
            <th>Valor</th>
            <th>Recibo</th>
            <th class="noprint">Borrar</th>
            <th class="noprint">Descripcion</th>
          </tr>
        </thead>
        <tbody>
          <?python i = 1 ?>
          <tr py:for="pay in loan.pays">
            <td>${pay.day.strftime('%d de %B de %Y')}</td>
            <td>${i}/${loan.months}</td>
            <?python i += 1 ?>
            <td>${locale.currency(pay.interest, True, True)}</td>
            <td>${locale.currency(pay.capital, True, True)}</td>
            <td>${locale.currency(pay.amount, True, True)}</td>
            <td>${pay.receipt}</td>
            <td class="noprint"><a href="${tg.url('/loan/pay/remove/{0}'.format(pay.id))}">X</a></td>
            <td class="noprint">${pay.description}</td>
          </tr>
        </tbody>
        <tfoot class="noprint">
          <tr>
            <th colspan="2">Total Pagado:</th>
            <th>${locale.currency(loan.interesesPagados(), True, True)}</th>
            <th>${locale.currency(loan.capitalPagado(), True, True)}</th>
            <th>${locale.currency(loan.pagado(), True, True)}</th>
            <th></th>
            <th class="noprint"></th>
          </tr>
        </tfoot>
      </table>
      <div class="center">Impreso por: ${tg.identity.user.display_name}</div>
      <div id="mora" class="centrado">
        <div>Cobro mensual por mora:
          ${locale.currency(loan.mora_mensual(), True, True)}</div>
        <div>Meses en Mora: ${loan.pagos_en_mora()}</div>
        <div>Monto adelantado: ${locale.currency(loan.pago_adelantado(), True, True)}</div>
        <div>Monto en deuda por mora: ${locale.currency(loan.pago_retrasado(), True, True)}</div>
        <div>Cargo por Mora para la proxima cuota:
          ${locale.currency(loan.obtener_mora(), True, True)}</div>  
      </div>
    </div>
  </div>
  <div id="lateral" class="noprint">
    <button class="button-size" onclick="javascript:$('.pagar').dialog('open');">Agregar un Pago</button>
    <button class="button-size" onclick="javascript:$('.deduccion').dialog('open');">Agregar una Deducci&oacute;n</button>
    <button class="button-size" onclick="javascript:$('#refinanciar').dialog('open');">Refinanciar</button>
    <button class="button-size" onclick="javascript:$('#cambiarTiempo').dialog('open');">Cambiar Peri&oacute;do de Pago</button>
    <button class="button-size" onclick="javascript:print();">Imprimir</button>
    <a class="button button-size" href="${tg.url('/loan/pagare/{0}'.format(loan.id))}">Ver Pagar&eacute;</a>
    <a class="button button-size" href="${tg.url('/loan/receipt/{0}'.format(loan.id))}">Ver Liquidaci&oacute;n</a>
    <a class="button button-size" href="${tg.url('/loan/remove/{0}'.format(loan.id))}">Enviar a Pagados</a>
    <a class="button button-size" href="${tg.url('/loan/increase/{0}'.format(loan.id))}">Corregir Mes +1</a>
    <a class="button button-size" href="${tg.url('/loan/decrease/{0}'.format(loan.id))}">Corregir Mes -1</a>
    <a class="button button-size" href="${tg.url('/loan/calibrar/{0}'.format(loan.id))}">Corregir Pagos</a>
    <button class="button-size" onclick="javascript:$('#cambiarSaldo').dialog('open');">Cambiar Saldo</button>
    <button class="button-size" onclick="javascript:$('#cambiarMonto').dialog('open');">Cambiar Monto</button>
    <button class="button-size" onclick="javascript:$('#cambiarCuota').dialog('open');">Cambiar Cuota</button>
  </div>
  <form class="pagar" action="${tg.url('/loan/pay/agregar')}" method="post">
    <div>
      <input type="hidden" name="redir" value="${'/loan/{0}'.format(loan.id)}" />
      <ul>
        <li>
          <label for="amount">Monto:</label>
          <input name="amount" />
        </li>
        <li>
          <label for="day">Fecha:</label>
          <input name="day" class="datepicker" /><input type="hidden" name="loan" value="${loan.id}" />
        </li>
        <li>
          <label for="receipt">Recibo:</label>
          <input name="receipt" />
        </li>
        <li>
          <label for="description">Descripci&oacute;</label>
          <input name="description" />
        </li>
        <li>
          <label for="free">Libre de Intereses:</label>
          <input name="free" type="checkbox" />
        </li>
        <li>
          <label for="deposito">Dep&oacute;sito Bancario:</label>
          <input name="deposito" type="checkbox" />
        </li>
        <li><input type="submit" value="Agregar" /></li>
      </ul>
    </div>
  </form>
  <form class="deduccion" action="${tg.url('/loan/deduction/save')}" method="post">
    <div>
      <input type="hidden" name="loan" value="${loan.id}" />
      <ul>
        <li>
          <label for="account">Concepto:</label>
          <select name="account">
            <option py:for="account in accounts" value="${account.id}">${account.name}</option>
          </select>
        </li>
        <li>
          <label for="amount">Monto:</label>
          <input name="amount" />
        </li>
        <li>
          <label for="description">Descripci&oacute;n:</label>
          <textarea name="description" />
        </li>
        <li><input type="submit" value="Agregar" /></li>
      </ul>
    </div>
  </form>
  <form id="refinanciar" action="${tg.url('/loan/refinanciar')}" method="post">
    <div>
      <input type="hidden" name="loan" value="${loan.id}" />
      <ul>
        <li>
          <label for="solicitud">Solicitud:</label>
          <select name="solicitud">
            <option py:for="s in loan.affiliate.solicitudes" value="${s.id}">N&ordm; ${s.id} - ${locale.currency(s.monto, True, True)} ${s.entrega.strftime('%d de %B de %Y')}</option>
          </select>
        </li>
        <li>
          <label for="pago">Monto a Pagar:</label>
          <input name="pago" />
        </li>
        <li>
          <label for="cuenta">Cuenta para Deducir:</label>
          <select name="cuenta">
            <option py:for="account in accounts" value="${account.id}">${account.id} - ${account.name}</option>
          </select>
        </li>
        <li>
          <label for="descripcion">Descripci&oacute;n deducci&oacute;n:</label>
          <textarea name="descripcion" />
        </li>
      </ul>
    </div>
  </form>
  <form id="cambiarTiempo" action="${tg.url('/loan/month')}">
    <div>
      <ul>
        <li>
          <label for="months">Meses:</label>
          <input name="months" id="tiempo" />
          <input type="hidden" name="loan" value="${loan.id}" />
          <input type="hidden" id="interes" value="${loan.interest}" />
          <input type="hidden" id="capital" value="${loan.capital}" />
        </li>
        <li>
          <label for="payment">Cuota:</label>
          <input name="payment" id="payment" />
          <a href="#" id="paymentCalc" class="button">calcular</a>
        </li>
        <li>
          <input value="Modificar"  type="submit" />
        </li>
      </ul>
    </div>
  </form>
  <form id="cambiarSaldo" action="${tg.url('/loan/debt')}">
    <div>
      <ul>
        <li>
          <label for="debt">Nuevo Saldo:</label>
          <input name="debt" />
          <input type="hidden" name="loan" value="${loan.id}" />
        </li>
      </ul>
    </div>
  </form>
  <form id="cambiarMonto" action="${tg.url('/loan/capital')}">
    <div>
      <ul>
        <li>
          <label for="amount">Nuevo Monto:</label>
          <input name="amount" />
          <input type="hidden" name="loan" value="${loan.id}" />
        </li>
      </ul>
    </div>
  </form>
  <form id="cambiarCuota" action="${tg.url('/loan/modify')}">
    <div>
      <ul>
        <li>
          <label for="payment">Cuota:</label>
          <input name="payment" />
          <input type="hidden" name="loan" value="${loan.id}" />
        </li>
      </ul>
    </div>
  </form>
</body>
</html>
