<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="../master.html" />
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''" />
        <title>Pr&eacute;stamos &bull; Recibo</title>
        <link rel="stylesheet" type="text/css" href="${tg.url('/static/css/status.css')}" media="screen" />
        <link rel="stylesheet" type="text/css" href="${tg.url('/static/css/billing.css')}" />
        <style type="text/css" media="print">
            body {
                font-size: 1em;
            }
        </style>
        <style type="text/css">
            #huella {
                width: 100px;
                float: right;
            }
            #huella-interior {
                border: 1px solid;
                height: 100px;
            }
        </style>
    </head>
    <body>
        <div class="page">
            <h1 style="text-align: center">Colegio de Profesores de Educaci&oacute;n Media de Honduras</h1>
            <h2 style="text-align: center">C&oacute;mite Administrativo Fondo
            AutoSeguro</h2>
            <h3 style="text-align: center">Recibo</h3>
            <p style="text-align: justify;">
                Recib&iacute; del Consejo Administrativo del
                Fondo del AutoSeguro, COPEMH, la cantidad de ${loan.letters}.
                (${locale.currency(loan.capital, True, True)}) por pr&eacute;stamo personal
                que me fue entregado el d&iacute;a ${loan.startDate.strftime('%d de %B de %Y')}
                Seg&uacute;n el detalle siguiente:
            </p>
            <table>
                <tr>
                    <th>Monto del Prestamo</th>
                    <td>${locale.currency(loan.capital, True, True)}</td>
                </tr>
                <tr>
                    <td colspan="2">Deducciones</td>
                </tr>
                <tr py:for="d in loan.deductions">
                    <td>${d.account.name}
                    <br />
                    ${d.description}</td>
                    <td>${locale.currency(d.amount, True, True)}</td>
                </tr>
                <tr>
                    <td>Total deducciones</td>
                    <th style="text-align: left;">${locale.currency(loan.total_deductions(), True, True)}</th>
                </tr>
                <tr>
                    <td>Remanente o Monto Liquidado</td>
                    <td>${locale.currency(loan.net(), True, True)}</td>
                </tr>
            </table>
            <p>
                Pr&eacute;stamo que me compromento a pagar en la forma convenida:
                <br />
                Cuota Mensual: <strong>${locale.currency(loan.payment, True, True)}</strong>
                <br />
                Plazo en Meses: ${loan.months}
            </p>
            <ul>
                <li>
                    Nombre del Afiliado: ${loan.affiliate.firstName} ${loan.affiliate.lastName}
                </li>
                <li>
                    Identidad: ${loan.affiliate.cardID}
                </li>
                <li>
                    Carnet: ${loan.affiliate.id}
                </li>
                <li>
                    Instituto: ${loan.affiliate.school}
                </li>
                <li>
                    Municipio: ${loan.affiliate.town}
                </li>
                <li>
                    Departamento: ${loan.affiliate.state}
                </li>
                <li>
                    Solicitud: ${loan.id}
                </li>
            </ul>
            <p>
                <strong>Recib&iacute; conforme:</strong>
            </p>
            <br />
            <br />
            <p class="center" style="text-align: center">
                Vo. Bo. Secretario de Finanzas
            </p>
            <p style="text-align: center">
                Liquidado por: <span py:if="not loan.aproval is None">${loan.aproval.display_name}</span>
                Impreso por: ${tg.identity.user.display_name}
            </p>
        </div>
        <div class="page" style="margin: 0 10%; padding-top: 20%">
            <p align="right">
                Tegucigalpa M. D. C., ${loan.startDate.strftime('%d de %B de %Y')}
            </p>
            <h1 style="text-align: center;">Colegio de Profesores de Educaci&oacute;n Media de Honduras</h1>
            <h2 style="text-align: center;">Autorizaci&oacute;n de Debito</h2>
            <p>
                Por este medio autorizo a EL Colegio de Profesores de Educaci&oacute;n
                Media de Honduras COPEMH (EL COLEGIO) para que en mi nombre y
                representaci&oacute;n solicite al Banco ${loan.affiliate.get_banco().nombre}
                (ELBANCO) para que realice débitos a mi cuenta No. ${loan.affiliate.cuenta}
                por el monto que indique El COLEGIO a trav&eacute;s de la informaci&oacute;n
                automatizada que mensualmente girará este banco.
            </p>
            <p>
                Queda entendido que si no hay fondos suficientes en la cuenta,
                el sistema no aplicara el d&eacute;bito, así mismo libero a El Banco
                por el incumplimiento de esta autorizaci&oacute;n en casos fortuitos
                o de fuerza mayor tales como; restricciones legales, interrupci&oacute;n
                o falla del sistema de comunicaci&oacute;n, situaciones de emergencia en
                otras circunstancias fuera del control del banco.
            </p>
            <p>
                Esta autorizaci&oacute;n permanecer&aacute; vigente hasta que EL COLEGIO,
                deje de aplicar el d&eacute;bito y se reactivara sin necesidad de nueva
                autorizaci&oacute;n.
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                &nbsp;
            </p>
            <h2 align="center">${loan.affiliate.firstName} ${loan.affiliate.lastName}</h2>
            <div id="huella">
                <div>
                    &nbsp;
                </div><span style="text-align: center;">Huella Digital</span>
            </div>
            <p>
                Identidad: ${loan.affiliate.cardID}
            </p>
            <p>
                Correo Electr&oacute;nico: ${loan.affiliate.email}
            </p>
            <p>
                Tel&eacute;no: ${affiliate.phone}
            </p>
            <p>
                ${affiliate.municipio.nombre} ${loan.affiliate.departamento.nombre}
            </p>
        </div>
    </body>
</html>
