<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
  <title>TurboAffiliate &bull; ${departamento.nombre}</title>
  <link rel="stylesheet" type="text/css" href="${tg.url('/static/css/form.css')}" media="screen" />
   <link rel="stylesheet" type="text/css" href="${tg.url('/static/css/print.css')}" />
   <style>
    table
    {
      width: 100%;
      border-width: 1px;
      border-style: solid;
      border-collapse: collapse;
    }
    td
    {
      border-width: 1px;
      border-style: solid;
      margin: 0;
      padding: 4px;
    }
   </style>
   <link rel="stylesheet" type="text/css" href="${tg.url('/static/css/billing.css')}" />
</head>
<body>
  <h1>Listado de Urnas ${departamento.nombre}</h1>
  <div py:for="municipio in sorted(urnas)">
    <h2>${municipio.nombre}</h2>
    <table py:for="instituto in sorted(urnas[municipio])" class="page">
      <caption>${instituto} Municipio de ${municipio.nombre}</caption>
      <thead>
        <tr>
          <th class="numero">N&uacute;mero</th>
          <th class="nombre">Nombre</th>
          <th class="nombre">Apellido</th>
          <th class="nombre">Colegio</th>
          <th>Firma</th>
        </tr>
      </thead>
      <tbody>
        <tr py:for="afiliado in urnas[municipio][instituto]">
          <td class="numero">${afiliado.id}</td>
          <td class="nombre">${afiliado.firstName}</td>
          <td class="nombre">${afiliado.lastName}</td>
          <td class="nombre">${afiliado.school}</td>
          <td></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">Total de Afiliados</th>
          <th>${len(urnas[municipio][instituto])}</th>
        </tr>
      </tfoot>
    </table>
  </div>
</body>
</html>
