<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<?python import locale ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../../master.html" />
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
  <title>TurboAffiliate &bull; A&ntilde;adir Afiliado</title>
</head>
<body>
  <form class="ui-widget-content ui-corner-all" action="${tg.url('/affiliate/extra/many')}" method="post">
    <fieldset>
      <legend>A&ntilde;adir una Deducci&oacute;n Extra a un Rango</legend>
      <ul>
        <li>
          <label for="amount">Cantidad:</label>
          <input name="amount" />
        </li>
        <li>
          <label for="account">Cuenta:</label>
          <select name="account">
            <option py:for="account in accounts" value="${account.id}">${account.name}</option>
          </select>
        </li>
        <li>
          <label for="first">Primero</label>
          <input name="first" />
        </li>
        <li>
          <label for="last">Ultimo</label>
          <input name="last" />
        </li>
        <li>
          <label for="months">Meses</label>
          <input name="months" />
        </li>
        <li>
          <input type="submit" value="Agregar" />
        </li>
      </ul>
    </fieldset>
  </form>
  <form class="ui-widget-content ui-corner-all" action="${tg.url('/affiliate/extra/payment')}" method="post">
    <fieldset>
      <legend>Agregar por Tipo de Pago</legend>
      <ul>
        <li>
          <label for="amount">Cantidad:</label>
          <input name="amount" />
        </li>
        <li>
          <label for="account">Cuenta:</label>
          <select name="account">
            <option py:for="account in accounts" value="${account.id}">${account.name}</option>
          </select>
        </li>
        <li>
          <label for="payment">Cotizaci&oacute;n:</label>
          <select name="payment">
            <option>Escalafon</option>
            <option>INPREMA</option>
            <option>UPN</option>
            <option>Ventanilla</option>
            <option>Ministerio</option>
            <option>Retirado</option>
          </select>
        </li>
        <li>
          <label for="months">Meses</label>
          <input name="months" />
        </li>
        <li>
          <input type="submit" value="Agregar" />
        </li>
      </ul>
    </fieldset>
  </form>
</body>
</html>
