<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<?python import locale ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
  <title>TurboAffiliate &bull; Reporte de Ingresos Estimados</title>
  <link rel="stylesheet" type="text/css" href="${tg.url('/static/css/status.css')}" />
</head>
<body>
  <h1>Reporte de Ingresos Estimados del ${legend}</h1>
  <table class="striped">
    <thead>
      <tr>
        <th>Cuenta</th>
        <th>Afiliados</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cuota Aportaciones Ordinarias</td>
        <td>${count}</td>
        <td>${locale.currency(count * obligation)}</td>
      </tr>
      <tr>
        <td>Cuota Ordinaria de Pr&eacute;tamo</td>
        <td>${loan.qty}</td>
        <td>${locale.currency(loan.amount)}</td>
      </tr>
      <tr py:for="cuenta in resume">
        <td>${cuenta}</td>
        <td>${resume[cuenta]['number']}</td>
        <td>${locale.currency(resume[value]['total'])}</td>
      </tr>
      <tr>
        <td colspan="3">Total</td>
        <td>${locale.currency(totale, True, True)}</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
