<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="master.html" />
<head>
	<title>TurboAffiliate &bull; ¡Error del Programa!</title>
</head>
<body>
  <h1>Se ha encontrado un Error Interno</h1>
  <p>Lo siento pero su petici&oacute;n no se ha podido completar, para más
    información observe el log de errores siguiente:</p>
  <p class="errors">${errors}</p>
</body>
</html>
