<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="master.html" />
<head>
	<title>TurboAffiliate &bull; ¡Error del Programa!</title>
</head>
<body>
  <h1>Se ha encontrado un Error Interno</h1>
  <p>Lo siento pero su petici&oacute;n no se ha podido completar, para más
    información observe el log de errores siguiente:</p>
  <div py:for="error in errors" class="ui-widget">
    <div class="ui-state-highlight ui-corner-all flash" style="padding: 0.5em;">
      <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
      <strong>${error[0].capitalize()} - ${error[1]}: ${error[2]}</strong>
    </div>
  </div>
</body>
</html>
