<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Iniciar Sesi&oacute;n</title>
    <link rel="stylesheet" type="text/css" href="${tg.url('/static/css/bootstrap.min.css')}"/>
    <link rel="stylesheet" type="text/css" href="${tg.url('/static/css/login.css')}"/>
</head>
<body>
<div class="container">
    <form class="form-signin" role="form" method="post">
        <h2 class="form-signin-heading">Iniciar Sesi&oacute;n</h2>
        <input type="text" id="user_name" name="user_name" class="form-control" placeholder="Nombre de Usuario" />
        <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" />
        <input class="btn btn-lg btn-primary btn-block" type="submit" name="login" value="Login"/>
        <input py:if="forward_url" type="hidden" name="forward_url" value="${forward_url}"/>
        <input py:for="name,value in original_parameters.items()" type="hidden" name="${name}" value="${value}"/>
    </form>
</div>
</body>
</html>
