<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="master.html" />
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
  <title>TurboAffiliate &bull; Inicio</title>
</head>
<body>
  <h1>Bienvenido al Sistema de Gesti&oacute;n de Afiliaciones</h1>
  <form class="ui-widget-content ui-corner-all" action="${tg.url('/affiliate/carnet')}">
    <fieldset>
      <legend>Buscar Afiliado</legend>
      <ul>
        <li>
          <label>Carnet:</label>
          <input name="carnet" />
        </li>
        <li><input type="submit" value="Buscar" /></li>
      </ul>
    </fieldset>
  </form>
  <form class="ui-widget-content ui-corner-all" action="${tg.url('/affiliate/solvencia')}">
    <fieldset>
      <legend>Solvencia</legend>
      <ul>
        <li>
          <label for="afiliado">Afiliaci&oacute;n</label>
          <input name="afiliado"/>
        </li>
        <li>
          <label>Mes</label>
          <select name="mes">
            <option>Enero</option>
            <option>Febrero</option>
            <option>Marzo</option>
            <option>Abril</option>
            <option>Mayo</option>
            <option>Junio</option>
            <option>Julio</option>
            <option>Agosto</option>
            <option>Septiembre</option>
            <option>Octubre</option>
            <option>Noviembre</option>
            <option>Diciembre</option>
          </select>
        </li>
        <li>
          <label for="anio">A&ntilde;o</label>
          <input name="anio"/>
        </li>
        <li><input type="submit" value="Agregar" /></li>
      </ul>
    </fieldset>
  </form>
  <form class="ui-widget-content ui-corner-all" action="${tg.url('/affiliate/cuota')}">
    <fieldset>
      <legend>Ver Estado de Cuenta Aportaciones</legend>
      <ul>
        <li>
          <label for="affiliate">Carnet:</label>
          <input name="affiliate" />
        </li>
        <li><input type="submit" value="Mostrar" /></li>
      </ul>
    </fieldset>
  </form>
</body>
</html>
