<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="master.html" />
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
  <title>TurboAffiliate &bull; Inicio</title>
</head>
<body>
<div class="row">
  <section class="page-header">
      <h1>Bienvenido al Sistema de Gesti&oacute;n de Afiliaciones</h1>
  </section>
</div>
<div class="row">
    <div class="col-md-4">
        <form class="form-horizontal" role="form" action="${tg.url('/affiliate/carnet')}">
            <fieldset>
                <legend>Buscar Afiliado</legend>
                <div class="form-group">
                    <label class="control-label col-md-4">Carnet:</label>
                    <div class="controls col-md-7">
                        <input class="form-control" name="carnet" />
                    </div>
                </div>
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit" value="Buscar" />
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-md-4">
        <form class="form-horizontal" role="form" action="${tg.url('/affiliate/card')}">
            <fieldset>
                <legend>Buscar Afiliado por Identidad</legend>
                <div class="form-group">
                    <label class="control-label col-md-4">Identidad:</label>
                    <div class="controls col-md-7">
                        <input class="form-control" name="cardID" />
                    </div>
                </div>
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit" value="Buscar" />
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-md-4">
    <form class="form-horizontal" action="${tg.url('/affiliate/search')}">
        <fieldset>
            <legend>Buscar Afiliado por Nombre</legend>
            <div class="form-group">
                <label class="control-label col-md-4">Afiliaci&oacute;n:</label>
                <div class="controls col-md-7">
                    <input class="form-control" name="name" />
                </div>
            </div>
            <div class="form-actions">
                <input class="btn btn-primary" type="submit" value="Buscar" />
            </div>
        </fieldset>
    </form>
</div>
</div>
</body>
</html>
