<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<?python import locale ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
  <title>TurboAffiliate &bull; Obligaciones</title>
</head>
<body>
  <h1>Obligaciones</h1>
  <form class="ui-widget-content ui-corner-all" action="${tg.url('/obligation/save')}" method="post">
    <fieldset>
      <legend>A&ntilde;adir</legend>
      <ul>
        <li>
          <label for="month">Mes:</label>
          <input name="month" />
        </li>
        <li>
          <label for="year">A&ntilde;o:</label>
          <input name= "year" />
        </li>
        <li>
          <label for="name">Descripci&oacute;n:</label>
          <input name="name" />
        </li>
        <li>
          <label for="amount">Monto:</label>
          <input name="amount" />
        </li>
        <li>
          <label for="inprema">INPREMA:</label>
          <input name="inprema" />
        </li>
        <li>
          <label for="filiales">Filiales:</label>
          <input name="filiales" />
        </li>
        <li>
          <label for="inprema_compliment">Complemento jubilados:</label>
          <input name="inprema_compliment" />
        </li>
        <li>
          <label for="amount_compliment">Complemento:</label>
          <input name="amount_compliment" />
        </li>
        <li>
          <label for="alternate">Principal Alterno:</label>
          <input name="alternate" />
        </li>
        <li>
          <label for="account">Cuenta:</label>
          <select name="account">
            <option py:for="account in accounts" value="${account.id}">${account.id} - ${account.name}</option> 
          </select>
        </li>
        <li><input type="submit" value="Guardar" /></li>
      </ul>
    </fieldset>
  </form>
  <form class="ui-widget-content ui-corner-all" action="${tg.url('/obligation/view')}">
    <fieldset>
      <legend>Ver Obligaciones</legend>
      <ul>
        <li>
          <label for="year">A&ntilde;o</label>
          <input name="year" />
        </li>
        <li><input type="submit" value="Buscar" /></li>
      </ul>
    </fieldset>
  </form>
</body>
</html>
