<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<?python import locale ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../../master.html" />
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
  <title>TurboAffiliate &bull; Asambleas</title>
</head>
<body>
  <h1>Vi&aacute;ticos para Asamblea ${asamblea.id} ${asamblea.nombre}</h1>
  <table class="ui-widget-content ui-corner-all striped full-size">
    <caption>Tabla de montos a pagar</caption>
    <thead>
      <tr>
        <th>Departamento</th>
        <th>Monto</th>
      </tr>
    </thead>
    <tbody>
      <tr py:for="viatico in viaticos">
        <td>${viatico.departamento.nombre}</td>
        <td>${locale.currency(viatico.monto, True, True)}</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
