<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../../master.html" />
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
	<title>TurboAffiliate &bull; Afiliados</title>
</head>
<body>
	<h1>Pr&eacute;stamos <span py:content="payment" /></h1>
	<table class="striped full-size ui-corner-all ui-widget-content">
		<thead>
			<tr>
				<th>Pr&eacute;stamo</th>
				<th>COPEMH</th>
				<th>Afiliado</th>
				<th>Cotiza</th>
				<th>Monto</th>
				<th>Otorgado</th>
			</tr>
		</thead>
		<tbody>
			<tr py:for="loan in loans">
				<td><a class="print" href="${tg.url('/payed/{0}'.format(loan.id))}" py:content="loan.id"  /></td>
				<td><a class="print" href="${tg.url('/affiliate/{0}'.format(loan.affiliate.id))}" py:content="loan.affiliate.id" /></td>
				<td>${loan.affiliate.firstName} ${loan.affiliate.lastName}</td>
				<td>${loan.affiliate.payment}</td>
				<td>${locale.currency(loan.capital, True, True)}</td>
				<td>${loan.startDate}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th>Cantidad</th>
				<th colspan="3">${count}</th>
				<th colspan="2">locale.currency(capital, True, True)</th>
			</tr>
		</tfoot>
	</table>
</body>
</html>
