<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<?python import locale ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
	<title>TurboAffiliate &bull; Pr&eacute;stamos</title>
</head>
<body>
	<div style="text-align: center;">
		<h1>COPEMH</h1>
		<h2>Estado de Cuenta P&eacute;stamos Pagados</h2>
		<h3 py:content="'Pr&eacute;stamo N&uacute;mero ', loan.id" />
	</div>
	<ul>
		<li>
			<strong>Prestatario:</strong>
			<a href="${tg.url('/affiliate/%s' % loan.affiliate.id)}">
				<span py:content="loan.affiliate.id" />
			</a>
			<span py:content="loan.affiliate.firstName, ' ', loan.affiliate.lastName" />
		</li>
		<li><strong>Fecha de Inicio:</strong><span py:content="loan.startDate" /></li>
		<li><strong>Pago Mensual:</strong>${locale.currency(loan.payment, True, True)}</li>
		<li>
			<strong>Monto Original:</strong>
			<span py:content="'L.', locale.format('%s', loan.capital, True)" />
		</li>
	</ul>
	<ul>
		<li class="add">
			<a href="${tg.url('/payed/pay/add/%s' % loan.id)}">Agregar un Pago</a>
		</li>
		<li class="add">
			<a href="${tg.url('/payed/deduction/add/%s' % loan.id)}">A&ntilde;adir Deducci&oacute;n</a>
		</li>
	</ul>
	<h4>Deducciones Aplicadas</h4>
	<table>
		<thead>
			<tr>
				<th>Concepto</th>
				<th>Cantidad</th>
				<th py:if="'admin' in tg.identity.groups">Borrar</th>
			</tr>
		</thead>
		<tbody>
			<tr py:for="deduction in loan.deductions">
				<td py:content="deduction.name" />
				<td py:content="deduction.amount" />
				<td py:if="'admin' in tg.identity.groups">
					<a href="${tg.url('/payed/deduction/remove/%s' % deduction.id)}">Borrar</a>
				</td>
			</tr>
		</tbody>
	</table>
	<h4>Pagos Efectuados</h4>
	<table class="pay" py:if="len(loan.pays) != 0">
		<thead>
			<tr>
				<th>Fecha</th>
				<th>Intereses</th>
				<th>Capital</th>
				<th>Valor</th>
			</tr>
		</thead>
		<tbody>
			<tr py:for="pay in loan.pays">
				<td py:content="pay.day.day, '/', pay.day.month, '/', pay.day.year" />
				<td py:content="'L. ', locale.format('%s', pay.interest, True)" />
				<td py:content="'L. ', locale.format('%s', pay.capital, True)" />
				<td py:content="'L. ', locale.format('%s', pay.amount, True)" />
				<td><a href="${tg.url('/payed/pay/remove/%s' % pay.id)}">X</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>
