<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
  <title>TurboAffiliate &bull; Asambleas</title>
  <style type="text/css">
      table
{
border-collapse:collapse;
}
table,th, td, tr
{
border: 1px solid black;
border-bottom: 1px solid black;

}
tr { height:30px; }
.numero { text-align: right; padding-right:10px; }
h1 { text-align: center; }
  </style>
</head>
<body>
  <h1>Inscripciones Pendientes de Pago de Asamblea ${asamblea.nombre}</h1>
  <table class="ui-corner-all full-size ui-widget-content">
      <thead>
          <tr>
              <th>Afiliaci&oacute;n</th>
              <th>Nombre</th>
              <th>Municipio</th>
              <th>Departamento</th>
              <th>Monto</th>
              <th>Firma</th>
          </tr>
      </thead>
      <tbody>
          <tr height="2em" py:for="inscripcion in inscripciones">
              <td class="numero">${inscripcion.afiliado.id}</td>
              <td>${inscripcion.afiliado.firstName} ${inscripcion.afiliado.lastName}</td>
              <td>${inscripcion.viatico.municipio.nombre}</td>
              <td>${inscripcion.viatico.municipio.departamento.nombre}</td>
              <td>${inscripcion.monto()}</td>
              <td width="20%"></td>
          </tr>
      </tbody>
  </table>
</body>
</html>
