<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<?python import locale ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
  <title>TurboAffiliate &bull; Asambleas</title>
</head>
<body>
  <form class="ui-widget-content ui-corner-all" action="${tg.url('/asamblea/agregar')}">
    <fieldset>
      <legend>Registrar Asamblea</legend>
      <ol>
        <li>
          <label for="nombre">Nombre:</label>
          <input name="nombre" />
        </li>
        <li>
          <label for="numero">N&uacute;mero:</label>
          <input name="numero" />
        </li>
        <li>
          <label for="departamento">Departamento:</label>
          <select name="departamento">
            <option py:for="d in departamentos" value="${d.id}">
              ${d.nombre}
            </option>
          </select>
        </li>
        <li><input type="submit" value="Registrar" /></li>
      </ol>
    </fieldset>
  </form>
  <form class="ui-widget-content ui-corner-all" action="${tg.url('/asamblea/inscripcion')}">
    <fieldset>
      <legend>Inscribir Afiliados a una Asamblea</legend>
      <ol>
        <li>
          <label>Asamblea:</label>
          <select name="asamblea">
            <option value="${a.id}" py:for="a in asambleas">
              ${a.numero} - ${a.nombre}
            </option>
          </select>
        </li>
        <li><input type="submit" value="Mostrar Formulario" /></li>
      </ol>
    </fieldset>
  </form>
  <div id="lateral" class="noprint">
    <a class="button button-size" href="${tg.url('/asamblea/viatico')}">Control de Vi&aacute;ticos</a>
  </div>
</body>
</html>
