@CHARSET "UTF-8";
form
{
  float: left;
  min-width: 350px;
  min-height: 120px;
}
form fieldset {
    margin-bottom: 10px;
    border: none;
}

form legend {
    padding: 0 2px;
    font-weight: bold;
    color: #804000;
}

form label
{
    display: inline-block;
    float: left;
    line-height: 1.8;
    vertical-align: top;
    width: 120px;
}

form fieldset ul {
    margin: 0;
    padding: 0;
}

form ul {
    margin: 0;
    padding: 0;
}

form li {
    clear: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

form fieldset li {
    clear: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

form.ui-widget-content
{
  margin: 2px;
}
