@CHARSET "UTF-8";
body
{
	font: large "Verdana";
	text-align: justify;
}
h1
{
	text-align: center;
	text-decoration: underline;
}
p
{
	line-height: 40px;
}
.enfasis
{
	font-weight: bold;
}
.firma
{
	display: block;
	text-align: center;
}
.subrayado
{
	text-decoration: underline;
}
