@CHARSET "UTF-8";
body {
  margin: 0;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: small;
  min-width: 750px;
}
.left-border { margin: 0 5px; }
#contenedor {
  width: 100%;
  float: left;
  margin-right: -160px;
}
#lateral {
  margin-top: 25px;
  font-size: 0.75em;
  width: 150px;
  float: right;
}
#pie {
  font-size: x-small;
  color: silver;
  clear: both;
  text-align: center;
}
#contenido { margin-right: 160px; }
.button-size { width: 140px; margin-bottom: 5px; }
.flash { margin: 5px 5px 5px 0px; }
.advertencia { margin: 5px 5px 5px 0px; float: left; }
.flotante-derecho { float: left; padding: 5px; }
.toolbox { margin-bottom: 5px; font-size: 0.85em; }
#personal { max-width: 300px; }
.no-margin { margin: 0; padding: 3px; }
#informacion { margin: 0 5px; }
.cotizacion { padding: 0.2em; }
h1 { font-size: 1.5em; margin: 5px 0 0 0; }
.enfasis { font-size: 1.1em; color: white; }
.inline .ui-button-text { padding: 0 0.5em; font-size: 0.9em; }
