@CHARSET "UTF-8";
body {
    padding-top: 60px;
    padding-bottom: 60px;
}
.left-border { margin: 0 5px; }
#contenedor {
  width: 100%;
  float: left;
  margin-right: -160px;
}
#lateral {
  margin-top: 25px;
  font-size: 0.75em;
  width: 150px;
  float: right;
}
#pie {
  font-size: x-small;
  color: silver;
  text-align: center;
}
#contenido { margin-right: 160px; }
.button-size { width: 140px; margin-bottom: 5px; }
.flash { margin: 5px 5px 5px 0px; }
.advertencia { margin: 5px 5px 5px 0; float: left; }
.flotante-derecho { float: right; padding: 5px; }
.flotante-izquierdo { float: left; padding: 5px; }
.toolbox { margin-bottom: 5px; font-size: 0.85em; }
#personal { max-width: 300px; }
.no-margin { margin: 0; padding: 3px; }
#informacion { margin: 0 5px; }
.cotizacion { padding: 0.2em; }
h1 { font-size: 1.5em; margin: 5px 0 0 0; }
.enfasis { font-size: 1.1em; color: white; }
.inline .ui-button-text { padding: 0 0.5em; font-size: 0.9em; }
h4.flotante-izquierdo { margin:0; padding: 5px; }
h4.flotante-derecho { margin:0; padding: 5px; }
.centrado { text-align: center; }
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}
.container .text-muted {
     margin: 20px 0;
 }
.main-content {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	-webkit-box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.5);
	box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.5);
}
 