@CHARSET "UTF-8";
table.striped { min-width: 550px; }
.striped tr.odd { background-color: #def; }
.striped tr.odd td, thead, tfoot  { border-bottom: 1px solid #cef; }
.striped thead, .striped tfoot { background-color: #64b1ff; }
caption { font-weight: bold; }
.blanco { background-color: white; }
table.full-size { width: 100%; }
