<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<?python import locale ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../../master.html"/>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"
          py:replace="''"/>
    <title>TurboAffiliate &bull; Estado de Cuenta &bull; ${affiliate.id}
        ${affiliate.firstName} ${affiliate.lastName}</title>
    <link rel="stylesheet" type="text/css"
          href="${tg.url('/static/css/status.css')}"/>
    <script src="${tg.url('/static/javascript/deposito.js')}"
            type="text/javascript"></script>
    <script type="text/javascript">
        $('document').ready(function () {
            JSON.bancos("${tg.url('/json')}");
            JSON.cuentas("${tg.url('/json')}");
        });
    </script>
</head>
<body>
<div class="row">
    <div class="col-md-12 centrado">
        <h3>COPEMH</h3>
        <h4>Estado de Cuenta Colegiaci&oacute;n</h4>

        <div><strong>Al ${day.strftime('%d de %B de %Y')}</strong></div>
        <h4><a href="${tg.url('/affiliate/{0}'.format(affiliate.id))}">${affiliate.id}</a>
            ${affiliate.firstName} ${affiliate.lastName}</h4>
        <strong>Afiliado desde
            ${affiliate.joined.strftime('%d de %B de %Y')}</strong>

        <div class="ui-widget"
             py:if="affiliate.payment == 'INPREMA' and affiliate.jubilated is None">
            <div class="ui-state-error ui-corner-all advertencia"
                 style="padding: 0.5em;">
                <span class="ui-icon ui-icon-alert"
                      style="float: left; margin-right: .3em;"></span>
                <strong>Advertencia, el afiliado esta jubilado y no tiene Fecha
                    de Jubilaci&oacute;n, los c&aacute;s son erroneos</strong>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 table-responsive">
        <table class="small table table-striped table-condensed">
            <thead>
            <tr>
                <th>A&ntilde;o</th>
                <th>Enero</th>
                <th>Febrero</th>
                <th>Marzo</th>
                <th>Abril</th>
                <th>Mayo</th>
                <th>Junio</th>
                <th>Julio</th>
                <th>Agosto</th>
                <th>Sept</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Dic</th>
                <th class="deuda">Total</th>
                <th class="deuda">Deuda</th>
                <th class="noprint">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr py:for="table in affiliate.cuotaTables">
                <td>${table.year}</td>
                <td>${table.pago_mes(1)}</td>
                <td>${table.pago_mes(2)}</td>
                <td>${table.pago_mes(3)}</td>
                <td>${table.pago_mes(4)}</td>
                <td>${table.pago_mes(5)}</td>
                <td>${table.pago_mes(6)}</td>
                <td>${table.pago_mes(7)}</td>
                <td>${table.pago_mes(8)}</td>
                <td>${table.pago_mes(9)}</td>
                <td>${table.pago_mes(10)}</td>
                <td>${table.pago_mes(11)}</td>
                <td>${table.pago_mes(12)}</td>
                <td class="deuda">${table.pagado()}</td>
                <td class="deuda">${table.deuda()}</td>
                <td class="noprint">
                    <a class="btn btn-info" href="${tg.url('/affiliate/cuota/edit/{0}'.format(table.id))}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a class="btn btn-danger" href="${tg.url('/affiliate/cuota/remove/{0}'.format(table.id))}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr class="total">
                <th colspan="13">Totales</th>
                <th class="deuda">
                    ${locale.currency(sum(table.pagado() for table in affiliate.cuotaTables), True, True)}
                </th>
                <th class="deuda">
                    ${locale.currency(sum(table.deuda() for table in affiliate.cuotaTables), True, True)}
                </th>
                <td class="noprint" />
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12 table-responsive">
        <table class="small table table-striped table-condensed">
            <caption>Complemento de Aportaciones</caption>
            <thead>
            <tr>
                <th>A&ntilde;o</th>
                <th>Enero</th>
                <th>Febrero</th>
                <th>Marzo</th>
                <th>Abril</th>
                <th>Mayo</th>
                <th>Junio</th>
                <th>Julio</th>
                <th>Agosto</th>
                <th>Sept</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Dic</th>
                <th class="deuda">Total</th>
                <th class="deuda">Deuda</th>
                <th class="noprint">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr py:for="table in affiliate.autoseguros">
                <td>${table.year}</td>
                <td>${table.pago_mes(1)}</td>
                <td>${table.pago_mes(2)}</td>
                <td>${table.pago_mes(3)}</td>
                <td>${table.pago_mes(4)}</td>
                <td>${table.pago_mes(5)}</td>
                <td>${table.pago_mes(6)}</td>
                <td>${table.pago_mes(7)}</td>
                <td>${table.pago_mes(8)}</td>
                <td>${table.pago_mes(9)}</td>
                <td>${table.pago_mes(10)}</td>
                <td>${table.pago_mes(11)}</td>
                <td>${table.pago_mes(12)}</td>
                <td class="deuda">${table.pagado()}</td>
                <td class="deuda">${table.deuda()}</td>
                <td class="noprint">
                    <a class="btn btn-info" href="${tg.url('/affiliate/cuota/editcompliment/{0}'.format(table.id))}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a class="btn btn-danger" href="${tg.url('/affiliate/cuota/removecompliment/{0}'.format(table.id))}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr class="total">
                <th colspan="13">Totales</th>
                <th class="deuda">
                    ${locale.currency(sum(table.pagado() for table in affiliate.autoseguro), True, True)}
                </th>
                <th class="deuda">
                    ${locale.currency(sum(table.deuda() for table in affiliate.autoseguro), True, True)}
                </th>
                <td class="noprint" />
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12 table-responsive">
        <table class="small table table-striped">
            <caption>Cobros a Efectuar</caption>
            <thead>
            <th>Concepto</th>
            <th>Retrasada</th>
            <th>Mes</th>
            <th>A&ntilde;o</th>
            <th>Cantidad</th>
            </thead>
            <tbody>
            <tr>
                <td>Colegiaci&oacute;n Ordinaria</td>
                <td>No</td>
                <td></td>
                <td></td>
                <td>${locale.currency(affiliate.get_cuota(), True, True)}</td>
            </tr>
            <tr py:for="loan in affiliate.loans">
                <td>Cuota de Pr&eacute;stamo</td>
                <td>No</td>
                <td></td>
                <td></td>
                <td>${locale.currency(loan.get_payment(), True, True)}</td>
            </tr>
            <tr py:for="extra in affiliate.extras">
                <td>${extra.account.name}</td>
                <td py:if="extra.retrasada">S&iacute;</td>
                <td py:if="not extra.retrasada">No</td>
                <td>${extra.mes}</td>
                <td>${extra.anio}</td>
                <td>${locale.currency(extra.amount, True, True)}</td>
            </tr>
            <tr py:for="reintegro in affiliate.reintegros"
                py:if="not reintegro.pagado">
                <td>Reintegro</td>
                <td>No</td>
                <td>${reintegro.motivo}</td>
                <td>${reintegro.emision.strftime('%d/%m/%Y')}</td>
                <td>${locale.currency(reintegro.monto, True, True)}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="4">Total de Deducciones</th>
                <th>${locale.currency(affiliate.get_monthly(), True, True)}</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="center">Impreso por: ${tg.identity.user.display_name}</div>
<div class="row">
    <div class="col-md-4">
        <form class="reducido form-horizontal agregarDeposito"
              action="${tg.url('/deposito/agregarAportaciones')}">
            <fieldset>
                <legend>Ingresar Dep&oacute;sito Bancario</legend>
                <input name="afiliado" value="${affiliate.id}" type="hidden"/>
                <input name="concepto" value="Aportaciones" type="hidden"/>

                <div class="form-group">
                    <label class="control-label col-md-4">Banco:</label>

                    <div class="controls col-md-7">
                        <select name="banco" class="bancos select form-control"
                                id="bancoAportaciones"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Fecha
                        Dep&oacute;sito:</label>

                    <div class="controls col-md-7">
                        <input name="fecha" value="${day.strftime('%d/%m/%Y')}"
                               class="datepicker form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Monto:</label>

                    <div class="controls col-md-7">
                        <input name="monto" class="form-control"
                               value="${affiliate.get_cuota()}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Fecha Posteo:</label>

                    <div class="controls col-md-7">
                        <input name="sistema"
                               value="${day.strftime('%d/%m/%Y')}"
                               class="datepicker form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Descripci&oacute;n:</label>

                    <div class="controls col-md-7">
                        <input name="descripcion" class="form-control"/>
                    </div>
                </div>
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit"
                           value="Agregar"/>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-md-4">
        <form id="pagarAportaciones"
              action="${tg.url('/affiliate/cuota/pagarVarias')}" method="post"
              class="form-horizontal noprint">
            <fieldset>
                <legend>Pagar Aportaciones</legend>
                <input type="hidden" name="afiliado" value="${affiliate.id}"/>
                <input type="hidden" name="redir"
                       value="${'/affiliate/cuota/{0}'.format(affiliate.id)}"/>

                <div class="form-group">
                    <label class="control-label col-md-4">Mes:</label>

                    <div class="controls col-md-7">
                        <input name="meses" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">A&ntilde;o:</label>

                    <div class="controls col-md-7">
                        <input name="anio" class="form-control"/>
                    </div>
                </div>
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit"
                           value="Agregar"/>
                </div>
            </fieldset>
        </form>
        <form action="${tg.url('/affiliate/cuota/fill')}" method="post"
              class="form-horizontal noprint">
            <fieldset>
                <legend>Postear A&ntilde;os</legend>
                <input type="hidden" value="${affiliate.id}" name="affiliate"/>

                <div class="form-group">
                    <label class="control-label col-md-4">Inicio:</label>

                    <div class="controls col-md-7">
                        <input name="start" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Fin:</label>

                    <div class="controls col-md-7">
                        <input name="end" class="form-control"/>
                    </div>
                </div>
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit"
                           value="Agregar"/>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-md-4">
        <form action="${tg.url('/affiliate/cuota/addYear')}" method="post"
              class="form-horizontal noprint">
            <fieldset>
                <legend>A&ntilde;adir A&ntilde;o</legend>
                <input type="hidden" value="${affiliate.id}" name="affiliate"/>

                <div class="form-group">
                    <label class="control-label col-md-4">A&ntilde;o:</label>

                    <div class="controls col-md-7">
                        <input name="year" class="form-control"/>
                    </div>
                </div>
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit"
                           value="Agregar"/>
                </div>
            </fieldset>
        </form>
        <form action="${tg.url('/affiliate/cuota/addcompliment')}" method="post"
              class="form-horizontal noprint">
            <fieldset>
                <legend>A&ntilde;adir A&ntilde;o de Complemento</legend>
                <input type="hidden" value="${affiliate.id}" name="affiliate"/>

                <div class="form-group">
                    <label class="control-label col-md-4">A&ntilde;o:</label>

                    <div class="controls col-md-7">
                        <input name="year" class="form-control"/>
                    </div>
                </div>
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit"
                           value="Agregar"/>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>
