<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<?python import locale ?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../../master.html" />
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
    <title>TurboAffiliate &bull; Estado de Cuenta &bull; ${affiliate.id} ${affiliate.firstName} ${affiliate.lastName}</title>
    <link rel="stylesheet" type="text/css" href="${tg.url('/static/css/status.css')}" />
</head>
<body>
  <div style="text-align: center">
    <h3>COPEMH</h3>
    <h4>Estado de Cuenta Aportaciones</h4>
    <div><strong>Al ${day.strftime('%d de %B de %Y')}</strong></div>
    <h4><a href="${tg.url('/affiliate/{0}'.format(affiliate.id))}" >${affiliate.id}</a> ${affiliate.firstName} ${affiliate.lastName}</h4>
    <div class="ui-widget" py:if="affiliate.payment == 'INPREMA' and affiliate.jubilated is None">
      <div class="ui-state-error ui-corner-all advertencia" style="padding: 0.5em;">
        <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
        <strong>Advertencia, el afiliado esta jubilado y no tiene Fecha de Jubilaci&oacute;n, los c&aacute;s son erroneos</strong>
      </div>
    </div>
  </div>
  <table class="small striped ui-widget-content ui-corner-all">
    <caption>Afiliado desde ${affiliate.joined.strftime('%d de %B de %Y')}</caption>
    <thead>
      <tr>
        <th>A&ntilde;o</th>
        <th>Enero</th>
        <th>Febrero</th>
        <th>Marzo</th>
        <th>Abril</th>
        <th>Mayo</th>
        <th>Junio</th>
        <th>Julio</th>
        <th>Agosto</th>
        <th>Sept</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dic</th>
        <th class="deuda">Total</th>
        <th class="deuda">Deuda</th>
        <th class="noprint">E</th>
        <th class="noprint">B</th>
      </tr>
    </thead>
    <tbody>
      <tr py:for="table in affiliate.cuotaTables">
        <td>${table.year}</td>
        <td>${table.pago_mes(1)}</td>
        <td>${table.pago_mes(2)}</td>
        <td>${table.pago_mes(3)}</td>
        <td>${table.pago_mes(4)}</td>
        <td>${table.pago_mes(5)}</td>
        <td>${table.pago_mes(6)}</td>
        <td>${table.pago_mes(7)}</td>
        <td>${table.pago_mes(8)}</td>
        <td>${table.pago_mes(9)}</td>
        <td>${table.pago_mes(10)}</td>
        <td>${table.pago_mes(11)}</td>
        <td>${table.pago_mes(12)}</td>
        <td class="deuda">${table.pagado()}</td>
        <td class="deuda">${table.deuda()}</td>
        <td class="noprint"><a class="delete" href="${tg.url('/affiliate/cuota/edit/{0}'.format(table.id))}">X</a></td>
        <td class="noprint"><a class="delete" href="${tg.url('/affiliate/cuota/remove/{0}'.format(table.id))}">X</a></td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="total">
        <th colspan="13">Totales</th>
        <th class="deuda">${locale.currency(sum(table.pagado() for table in affiliate.cuotaTables), True, True)}</th>
        <th class="deuda">${locale.currency(sum(table.deuda() for table in affiliate.cuotaTables), True, True)}</th>
        <td class="noprint" colspan="2" />
      </tr>
    </tfoot>
  </table>
  <table class="striped ui-widget-content ui-corner-all" py:if="affiliate.active">
    <caption>Cobros a Efectuar</caption>
    <thead>
      <th>Concepto</th>
      <th>Retrasada</th>
      <th>Mes</th>
      <th>A&ntilde;o</th>
      <th>Cantidad</th>
    </thead>
    <tbody>
      <tr>
        <td>Aportaci&oacute;n Ordinaria</td>
        <td>No</td>
        <td></td>
        <td></td>
        <td>${locale.currency(affiliate.get_cuota(), True, True)}</td>
      </tr>
      <tr py:for="loan in affiliate.loans">
        <td>Cuota de Pr&eacute;stamo</td>
        <td>No</td>
        <td></td>
        <td></td>
        <td>${locale.currency(loan.get_payment(), True, True)}</td>
      </tr>
      <tr py:for="extra in affiliate.extras">
        <td>${extra.account.name}</td>
        <td py:if="extra.retrasada">S&iacute;</td>
        <td py:if="not extra.retrasada">No</td>
        <td>${extra.mes}</td>
        <td>${extra.anio}</td>
        <td>${locale.currency(extra.amount, True, True)}</td>
      </tr>
      <tr py:for="reintegro in affiliate.reintegros" py:if="not reintegro.pagado">
        <td>Reintegro</td>
        <td>No</td>
        <td>${reintegro.motivo}</td>
        <td>${reintegro.emision.strftime('%d/%m/%Y')}</td>
        <td>${locale.currency(reintegro.monto, True, True)}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">Total de Deducciones</th>
        <th>${locale.currency(affiliate.get_monthly(), True, True)}</th>
      </tr>
    </tfoot>
  </table>
  <div class="center">Impreso por: ${tg.identity.user.display_name}</div>
  <form id="pagarAportaciones" action="${tg.url('/affiliate/cuota/pagar')}" class="ui-widget-content ui-corner-all noprint">
    <fieldset>
      <legend>Pagar Aportaciones</legend>
      <input type="hidden" name="afiliado" value="${affiliate.id}" />
      <input type="hidden" name="redir" value="cuota/" />
      <ul>
        <li>
          <label for="mes">Mes:</label>
          <select name="mes">
            <option value="1">Enero</option>
            <option value="2">Febrero</option>
            <option value="3">Marzo</option>
            <option value="4">Abril</option>
            <option value="5">Mayo</option>
            <option value="6">Junio</option>
            <option value="7">Julio</option>
            <option value="8">Agosto</option>
            <option value="9">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
          </select>
        </li>
        <li>
          <label for="anio">A&ntilde;o:</label>
          <input name="anio" />
        </li>
      </ul>
    </fieldset>
  </form>
  <form action="${tg.url('/affiliate/cuota/fill')}" method="post" class="ui-widget-content ui-corner-all noprint">
    <fieldset>
      <legend>Postear A&ntilde;os</legend>
      <input type="hidden" value="${affiliate.id}" name="affiliate" />
      <ul>
        <li>
          <label for="start">A&ntilde;o Inicial</label>
          <input name="start" />
        </li>
        <li>
          <label for="end">A&ntilde;o Final</label>
          <input name="end" />
        </li>
        <li><input type="submit" value="A&ntilde;adir" /></li>
      </ul>
    </fieldset>
  </form>
  <form action="${tg.url('/affiliate/cuota/addYear')}" method="post" class="ui-widget-content ui-corner-all noprint">
    <fieldset>
      <legend>A&ntilde;adir A&ntilde;o</legend>
      <input type="hidden" value="${affiliate.id}" name="affiliate" />
      <ul>
        <li>
          <label for="year">A&ntilde;o</label>
          <input name="year" />
        </li>
        <li><input type="submit" value="A&ntilde;adir" /></li>
      </ul>
    </fieldset>
  </form>
</body>
</html>
