<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
  <title>TurboAffiliate &bull; Ingresar Depositos</title>
  <script src="${tg.url('/static/javascript/deposito.js')}" type="text/javascript"></script>
  <script type="text/javascript">
    $('document').ready(function()
    {
      JSON.bancos("${tg.url('/json')}");
      JSON.cuentas("${tg.url('/json')}");
    });
  </script>
</head>
<body>
  <table class="ui-widget-content ui-corner-all striped full-size">
    <caption>Postear Depositos</caption>
    <thead>
      <th>Afiliaci&oacute;n</th>
      <th>Nombre</th>
      <th>Aportaciones</th>
      <th>Pr&eacute;stamos</th>
      <th>Otros</th>
    </thead>
    <tbody>
      <tr py:for="afiliado in afiliados">
        <td><a href="${tg.url('/affiliate/{0}'.format(afiliado.id))}">${afiliado.id}</a></td>
        <td>${afiliado.firstName} ${afiliado.lastName}</td>
        <td>
          <form class="ui-widget-content reducido ui-corner-all agregarDeposito" action="${tg.url('/deposito/agregarAportaciones')}">
            <fieldset>
              <input name="afiliado" value="${afiliado.id}" type="hidden" />
              <input name="concepto" value="Aportaciones" type="hidden" />
              <ul>
                <li>
                  <label>Banco</label>
                  <select name="banco" class="bancos" id="bancoAportaciones"></select>
                </li>
                <li>
                  <label for="fecha">Fecha Dep&oacute;sito</label>
                  <input name="fecha" value="${dia.strftime('%d/%m/%Y')}" class="datepicker" />
                </li>
                <li>
                  <label for="monto">Monto:</label>
                  <input name="monto" value="${afiliado.get_cuota()}" />
                </li>
                <li>
                  <label for="sistema">Fecha Posteo</label>
                  <input name="sistema" value="${dia.strftime('%d/%m/%Y')}" class="datepicker" />
                </li>
        <li>
          <label for="descripcion">Descripcion</label>
          <input name="descripcion" />
        </li>
                <li><input type="submit" value="Registrar" /></li>
              </ul>
            </fieldset>
          </form>
        </td>
        <td>
          <form py:for="prestamo in afiliado.loans" class="ui-widget-content reducido ui-corner-all agregarDeposito" action="${tg.url('/deposito/agregarPrestamo')}">
            <fieldset>
              <input name="prestamo" value="${prestamo.id}" type="hidden" />
              <input name="concepto" value="Prestamo" type="hidden" />
              <ul>
                <li>
                  <label>Banco</label>
                  <select name="banco" class="bancos" id="bancoPrestamo"></select>
                </li>
                <li>
                  <label for="fecha">Fecha</label>
                  <input name="fecha" value="${dia.strftime('%d/%m/%Y')}" class="datepicker" />
                </li>
                <li>
                  <label for="monto">Monto:</label>
                  <input name="monto" value="${prestamo.get_payment()}"/>
                </li>
                <li>
                  <label for="sistema">Posteo:</label>
                  <input name="sistema" value="${dia.strftime('%d/%m/%Y')}" class="datepicker" />
                </li>
        <li>
          <label for="descripcion">Descripcion</label>
          <input name="descripcion" />
        </li>
                <li><input type="submit" value="Registrar" /></li>
              </ul>
            </fieldset>
          </form>
        </td>
        <td>
          <form class="ui-widget-content reducido ui-corner-all agregarDeposito" action="${tg.url('/deposito/agregarOtros')}">
            <fieldset>
              <input name="afiliado" value="${afiliado.id}" type="hidden" />
              <ul>
                <li>
                  <label>Banco</label>
                  <select name="banco" class="bancos"></select>
                </li>
                <li>
                  <label>Cuentas:</label>
                  <select name="cuenta" class="cuentas"></select>
                </li>
                <li>
                  <label for="fecha">Fecha</label>
                  <input name="fecha" value="${dia.strftime('%d/%m/%Y')}" class="datepicker" />
                </li>
                <li>
                  <label for="monto">Monto:</label>
                  <input name="monto" />
                </li>
        <li>
          <label for="descripcion">Descripcion</label>
          <input name="descripcion" />
        </li>
                <li><input type="submit" value="Registrar" /></li>
              </ul>
            </fieldset>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
