<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="../master.html" />
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" py:replace="''"/>
  <title>TurboAffiliate &bull; Reporte de Dep&oacute;sitos</title>
</head>
<body>
  <h1>Dep&oacute;sitos ${banco.nombre} Del ${inicio.strftime('%d/%m/%Y')} al ${final.strftime('%d/%m/%Y')}</h1>
  <table class="ui-widget-content ui-corner-all striped full-size">
    <thead>
      <th>Referencia</th>
      <th>Concepto</th>
      <th>Monto</th>
      <th>Fecha</th>
    </thead>
    <tbody>
      <tr py:for="deposito in depositos">
        <td>${deposito.referencia}</td>
        <td>${deposito.concepto}</td>
        <td>${locale.currency(deposito.monto, True, True)}</td>
        <td>${deposito.fecha}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Cantidad</th>
        <th>${depositos.count()}</th>
        <th>Total:</th>
        <th colspan="2">${locale.currency(sum(d.monto for d in depositos), True, True)}</th>
      </tr>
    </tfoot>
  </table>
</body>
</html>
